@charset "utf-8";

/*SKIP NAVI*/
#skipNavi li { font-size:0; line-height:0; z-index:99999999999;}
#skipNavi li a { display:block; width:100%; padding:10px 0; color:#fff; position:absolute; left:0; top:-100px; text-align:center; z-index:200; background:#413022; border:0 none; z-index:99999999999;}
#skipNavi li a:active, #skipNavi li a:focus { top:0; font-weight:bold;font-size:16px;line-height:1.5; border-bottom:1px solid #fff; z-index:99999999999;}

body{font-family: 'GTSectraFineBook', 'NanumMyeongjo', Dotum, serif; color: rgb(58,46,44);}
body a{color: rgb(58,46,44);}
#topBanner{
	width: 100%; 
	background: rgb(1,131,67);
	animation-name: fadeIndown;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.44,0.01,0.64,0.99);
	animation-fill-mode: forwards;
}
#topBanner .top_banner_inner{
	position: relative;
	padding: 15px 4.68%;
	color: rgb(255,255,255);
	font-size: 1.5rem;
	line-height: 20px;
}
.top_banner .top_banner_inner a{
	display: block;
	color: rgb(255,255,255);
}
.top_banner .top_banner_inner .check{
	display: inline-block;
	margin-top: 13px;
	border-bottom: 1px solid rgb(106,98,96);
	font-family: 'PatronRegular';
	font-size: 1.167rem;
	color: rgb(255,255,255)
} 
.top_banner .btn_close{
	position: absolute;
	top: 13px;
	right: 4.68%;
	padding: 10px;
	margin: -10px -10px 0 0;
}
.top_banner .btn_close img{width: 12px;}

@-webkit-keyframes fadeIndown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -62px, 0);
		transform: translate3d(0, -62px, 0);
	}
	to {
		opacity: 1;
		
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIndown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -62px, 0);
		transform: translate3d(0, -62px, 0);
	}
	to {
		opacity: 1;
		
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
#wrap{margin-top: 48px;}
#header{
	position: fixed;
	/* position:relative; */
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	background: rgb(255,255,255);
	z-index: 9997
}
.header_inner{
	padding: 0 4.68%;
	height: 48px;
}
.logo{
	position: absolute;
	top: 17px;
	left: 50%;
	width: 79px;
	height: 14px;
	margin-left: -39px;
	text-align: center;
}
.logo img{
	width: 100%;
	vertical-align: top;
}
.btn_menu{
	padding: 24px 15px 23px;
	margin-left: -15px;
}
.btn_menu:focus{outline: none}
.btn_menu span{
	position: relative;
	display: block;
	width: 15px;
	height: 1px;
	text-indent: -9999px;
	background: rgb(58,46,44);
}
.btn_menu span:before,
.btn_menu span:after{
	position: absolute;
	left: 0;
	content:'';
	width: 15px;
	height: 1px;
	background: rgb(58,46,44);
}
.btn_menu span:before{top: -6px;}
.btn_menu span:after{bottom: -6px;}
.btn_search{
	width: 38px;
	height: 48px;
	line-height: 48px;
	margin-left: 5px;
	vertical-align: top;
	text-align: left;
}
.btn_search img{vertical-align: middle;}
.gnb_r{
	float: right;
	margin-top: 10px;
}
.gnb_r > div{
	float: left;
}
.gnb_r > div a{
	display: block;
	height: 30px;
	font-family: 'GTSectraFineMedium';
	font-size: 14px;
	line-height: 30px;
}
.gnb_r .cart{
	padding-left: 13px;
	margin-left: 9px;
	background: url(/images/mobile/common/bg_u_line.gif) no-repeat 0 0;
	background-size: 1px 30px;
}
.wish{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(/images/mobile/common/ico_wish.svg) no-repeat 50% 50%;
	background-size: 18px;
	/* transition: background 0.3s ease-in-out; */
}

.wish:after{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	background: url(/images/mobile/common/ico_wish_active.svg) no-repeat 50% 50%;
	background-size: 18px;
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
/* .wish:hover{
	background: url(/images/mobile/common/ico_wish_hover.png) no-repeat 0 50%;
	background-size: 16px;
} */
.wish:active,
.wish.on{
	background: url(/images/mobile/common/ico_wish_active.svg) no-repeat 50% 50%;
	background-size: 18px;
}
.wish:active:after,
.wish.on:after{
	-webkit-animation-name: wishActive;
	animation-name: wishActive;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes wishActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		-webkit-transform: scale(0.5);
	}
	100%{
		top: -20px;
		-webkit-transform: scale(0.5);
		opacity: 0
	}
}
@keyframes wishActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		transform: scale(0.5);
	}
	100%{
		top: -20px;
		transform: scale(0.5);
		opacity: 0
	}
}
.gnb_r .wish_box a{
	text-indent: 0;	
	padding-left: 20px;
}
.gnb_r .wish_box .wish{
	width: 16px;
	height: 30px;
	background-position: 0 50%;
	background-size: 16px;
}
.gnb_r .wish_box .wish:after{
	width: 16px;
	height: 30px;
	background-position: 0 50%;
	background-size: 16px;
}
.gnb_r .wish_box .wish:active{
	background-position: 0 50%;
	background-size: 16px;
}
.gnb_r .cart a{
	position:relative;
	display:block;
	padding-left: 20px;
	background: url(/images/mobile/common/ico_u_cart.svg) no-repeat 0 50%;
	background-size: 13px;
	transition: all 0.3s ease-in-out;
}
.gnb_r .cart a:after {
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:'';
	width:13px;
	height:30px;
	background:url(/images/mobile/common/ico_u_cart_active.svg) 0 50% no-repeat;
	background-size: 13px;
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.gnb_r .cart a:active,
.gnb_r .cart a.on{
	background: url(/images/mobile/common/ico_u_cart_active.svg) no-repeat 0 50%;
	background-size: 13px;
}
.gnb_r .cart a:active:after,
.gnb_r .cart a.on:after{
	-webkit-animation-name: cartActive;
	animation-name: wishActive;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@-webkit-keyframes cartActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		-webkit-transform: scale(0.5);
	}
	100%{
		top: -20px;
		-webkit-transform: scale(0.5);
		opacity: 0
	}
}
@keyframes cartActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		transform: scale(0.5);
	}
	100%{
		top: -20px;
		transform: scale(0.5);
		opacity: 0
	}
}




body.gnb_on{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body #wrap{
	position: relative;
	left: 0;
	transition: left 0.3s
}
body #header{transition: left 0.3s}
body.gnb_on #wrap{
	position: fixed;
	left: 270px;
	width: 100%;
}
body.gnb_on #header{
	left: 270px;
}
.m_menu{
	position: fixed;	
	top: 0;
	left: -270px;
	width: 270px;
	height: 100%;
	overflow-y: auto;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjoBold';
	background: rgb(255,255,255);
	transition: all 0.3s;
	z-index: 9999
}
body.gnb_on .m_menu{left: 0;}
.m_menu .close{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 17px;
	z-index: 5;
}
.m_menu .close img{width: 100%;}
.gnb{padding-top: 48px;}
.gnb li{border-top: 1px solid rgb(228,223,229);}
.gnb li > a{
	display: block;
	padding: 27px 20px 27px 15px;
	font-size: 18px;
	line-height: 1;
	background: rgb(255,255,255);
}
.gnb .depth,
.util .logout{position: relative;}
.gnb .depth:after,
.util .logout:after{
	position: absolute;
	content:'';
	width: 0;
	height: 0;
	top: 50%;
	right: 20px;
	margin-top: -2px;
	border-top: 4px solid transparent;
	border-left: 4px solid rgb(173,171,172);
	border-bottom: 4px solid transparent;
}
.gnb .depth_box{
	position: fixed;	
	top: 0;
	left: -270px;
	width: 270px;	
	height: 100%;
	overflow-y: auto;
	background: rgb(234,232,233);
	transition: all 0.3s;
	z-index: 3
}
.gnb .on > .depth_box{
	left: 0;
}
.gnb .depth_box .depth_box{z-index: 4}
.gnb .depth_box .depth_top{
	height: 48px;
	padding: 0 15px;
	line-height: 48px;
	font-size: 15px;
	background: rgb(255,255,255);
}
.gnb .depth_box .depth_top .back:before{
	display: inline-block;
	content:'';
	width: 0;
	height: 0;
	margin-right: 8px;
	border-top: 4px solid transparent;
	border-right: 4px solid rgb(58,46,44);
	border-bottom: 4px solid transparent;	
}
.gnb_banner {
	border-top: 1px solid rgb(228,223,229)
}
.gnb_banner img {
	width: 100%;
}
.util > a{
	display: block;
	padding: 27px 20px 27px 40px;
	font-size: 18px;
	background-color: rgb(228,223,229);
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.util > a span{float: right; margin-top: 2px;}
.util > a + a{border-top: 1px solid rgb(201,196,202);}
.util .order{
	background-image: url(/images/mobile/common/ico_u_order.svg);
	background-size: 18px;
}
.util .account{
	background-image: url(/images/mobile/common/ico_u_login.svg);
	background-size: 15px;
}
#bgMenu{
	opacity: 0;
	transition: 0.3s;
	z-index: 9997
}
body.gnb_on #bgMenu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgba(0,0,0,0.3);
}
#header .search_box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 48px 4.68% 40px;
	background: rgb(247,247,247);
	z-index: 9998;
	box-sizing: border-box;
}
#header .search_box .btn_close{
	position: absolute;
	top: 17px;
	right: 15px;
}
#header .search_inner{
	position: relative;
}
#header .search_inner:after{
	display: block;
	content:'';
	clear: both;
}
#header .btn_srh{
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 56px;
	text-align: left;
	z-index: 666
}
#header .search_inner .input{position: relative;	}
#header .search_inner .input > span{width: 100%;}
#header .srh_ipt{
	width: 100%;
	height: 56px;
	padding-left: 26px;
	border-bottom: 1px solid rgb(204,204,204);
	line-height: 56px;
	font-size: 18px;
	font-family: 'GTSectraFineBook';
	background: none;
	color: rgb(58,46,44);
	box-sizing: border-box;
}
#header .srh_label{
	position: absolute;
	top: 0;
	left: 26px;
	line-height: 56px;
	font-size: 18px;
	color: rgb(136,136,136)
}
#header .label-active,
#header .no-empty .srh_label{
	font-size: 0;
	line-height: 0;
}
#header .srh_ipt:focus{	
	outline: 0;
	border-color: rgb(51,0,173);
}
#header .tt-hint{display: none;}
#header .tt-menu {
	position: static !important;
	display: block !important;
	width: 100%;
	clear: both;
	margin-top: 15px;
}
#header .tt-suggestion{
	padding-left: 26px;
	margin-top: 12px;
	font-size: 18px;
	line-height: 20px;
}
#header .tt-suggestion:hover {
	cursor: pointer;
	text-decoration: underline
}
#header .tt-suggestion.tt-cursor {text-decoration: underline}
#header .tt-suggestion p {margin: 0;}
#header .tt-highlight{font-weight: normal;}

#contents{clear: both;}
.container{padding: 0 4.68%}
.location{
	font-size: 12px;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjo';
}
.location ul{
	overflow: hidden;
	padding: 26px 4.68% 18px;
	line-height: 16px;
}
.location ul li{float: left;}
.location ul li > span{
	float: left;
	width: 18px;
	text-align: center;
}
.location ul li a{
	float: left;
	border-bottom: 1px solid transparent;
}
.location ul li a:hover{
	color: rgb(51,0,173);
	border-color: rgb(51,0,173);
}
.location ul li a:active{
	transform: translateY(0.1em)
}
#footer{clear: both}
.f_menu > li{
	overflow: hidden;
	padding: 35px 4.68% 40px;
}
.f_menu > li + li{
	border-top: 1px solid rgb(227,225,228);
}
.f_menu > li > a{
	display: block;
	font-size: 1.167rem;
	font-family: 'PatronRegular';
}

.f_menu .category{
	float: left;
	overflow: hidden;
	width:100%;
}
.f_menu li:first-child .category{width:50%;}
.f_menu .category > a{
	float: left;
	width: 100%;
	margin-top: 22px;
    font-family: 'GTSectraFineBook','NanumSquareR';
	font-size: 1.167rem;
	line-height: 24px;
} 
.f_menu li:nth-child(2) .category > a{float: left; width:50%;}
.f_menu .category > a.p_color{    
	font-family: 'GTSectraFineMedium';
	color:rgb(255,82,95);
	text-decoration: underline;
}
.f_sns{margin-top: 27px;}
.f_sns > div{float: left;}
.f_sns a{
	float: left;
	width: 26px;
	height: 26px;
	/* margin-left: 40px; */
	text-indent: -9999px;
}
.f_sns div:first-child a:first-child{margin-left: 0;}
.f_menu .facebook{
	background: url(/images/mobile/common/ico_facebook.svg) no-repeat 3px 50%;
	background-size: 12px;
}
.f_menu .twitter{
	background: url(/images/mobile/common/ico_twitter.svg) no-repeat 0 50%;
	background-size: 24px;
}
.f_menu .instagram{
	background: url(/images/mobile/common/ico_instagram.svg) no-repeat 0 50%;
	background-size: 26px;
}
.f_menu .youtube{
	background: url(/images/mobile/common/ico_youtube.svg) no-repeat 50% 50%;
	background-size: 26px;
}
.f_menu .pinterest{
	background: url(/images/mobile/common/ico_pinterest.svg) no-repeat 100% 50%;
	background-size: 25px;
}
.f_bottom{
	padding: 25px 4.68% 30px;
	background: rgb(58,46,44);
}
.f_bottom:after{
	display: table;
	content: '';
	clear: both;
}
.f_bottom .f_link{
	font-size: 0;
}
.f_bottom .f_link > a{
	display: inline-block;
	font-size: 12px;
	font-family: 'NanumSquareB';
	line-height: 17px;
	color: rgb(118,118,118)	
}
.btn_f_info{
	float: right;
	margin-top: 30px;
	padding-right: 13px;
	border-bottom: 1px solid rgb(255,255,255);
	font-size: 12px;
	font-family: 'PatronRegular';
	color: rgb(255,255,255);
	background: url(/images/mobile/common/bg_info_down.png) no-repeat 100% 50%;
	background-size: 7px;
}
.btn_f_info.on{
	background: url(/images/mobile/common/bg_info_up.png) no-repeat 100% 50%;
	background-size: 7px;
}
.f_bottom .f_info{
	clear: both;
	height: 0;
	overflow: hidden;
	transition: all 0.3s
}
.f_bottom .btn_f_info.on + .f_info{
	padding-top: 20px;
	height: auto;
}
.f_logo img{
	width: 97px;
	vertical-align: top;
}
.f_bottom .copyright{
	margin-top: 25px;
	font-size: 14px;
	line-height: 17px;
	color: rgb(255,255,255);
}
.f_bottom .address{
	padding: 25px 0 15px;
	font-size: 12px;
	font-family: 'NanumSquareR';
	line-height: 24px;
	color: rgb(118,118,118)
}

#backTop{
	position: fixed;
	bottom: 20px;
	right: 6.25%;
	z-index: 9996
}
#backTop a{
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	text-indent: -9999px;
	background: url(/images/mobile/common/icon_to_top.svg) no-repeat 0 0;
	background-size: 35px 35px;
	cursor: pointer
}

body.cart_on,
body.store_on{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.side_layer{
	display: none;
	position: fixed;
	top: 0;
	opacity: 0;
	right: -320px;
	width: 100%;
	height: 100%;
	height: 100vh;
	background: rgb(255,255,255);
	z-index: 9999;
}
.bg_cart,
.bg_store{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9998;
	transition: opacity 0.3s ease-in
}
.cart_on .bg_cart,
.store_on .bg_store{
	width: 100%;
	height: 100%;
	opacity: 1;
}
.side_layer > .btn_close{
	position: absolute;
	top: 20px;
	right: 10px;
	padding: 0;
	width: 35px;
	height: 35px;
	z-index: 9999
}
.side_layer > .btn_close img{width: 18px;}
.side_layer .side_layer_inner{
	height: 100%;	
	overflow-y: scroll;
	overflow-x: hidden;
}
.side_layer .title_bar:after{width: 60px;}
.cart_area .cart_box{
	padding: 48px 15px 0;
}
.cart_area .cart_box .no_txt{
	padding-bottom: 80px;
}
.cart_area .cart_box .no_cart{
	margin-top: 25px;
	font-size: 1.833rem;
	font-family: 'NanumMyeongjoBold';
	color: rgb(136,141,136);
}
.cart_area .cart_box .no_txt > .txt_link{
	margin-top: 25px;
}
.cart_list_area{margin-top: 30px;}
.cart_list_top > .check_box{float: left;}
.cart_list_top > .btn_remove{
	float: right;	
	font-size: 0.917rem;
	width: 85px;
	height: 24px;
	line-height: 22px;
}
.cart_list{
	width: 100%;
	margin-top: 20px;
}
.cart_list > li{
	position: relative;
	border-top: 1px solid rgb(234,231,235);		
	padding: 67px 0 20px;
}
.cart_list > li:after{
	display: block;
	content: '';
	clear: both;
}
.cart_list .check_box{
	position: absolute;
	top: 20px;
	left: 0;	
	width: 30px;
}
.cart_list .photo{
	width: 76px;
	margin-top: 10px;
	text-align: center;
}
.cart_list .photo > img{width: 76px}
.cart_list .selling_price {
	float: right;
	font-size: 24px;
	margin-top: -50px;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjo';
}
.cart_list .info{
	margin-top: 30px;
}
.cart_list .txt{overflow: hidden}
.cart_list .txt .name{
	float: left; 
	font-size: 1.5rem;
}
.cart_list .sale_price{
	margin-top: 10px;
	font-family: 'NanumMyeongjo';
	font-size: 1.167rem;
	line-height: 24px;
}
/* .cart_list .sale_price i{
	position: relative;
	font-style: normal;
}
.cart_list .sale_price i:after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	content: '';
	height: 1px;
	background: rgb(58,46,44);
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
}
.cart_list .sale_price em{
	font-style: normal;
	color: rgb(230,33,23);
}
.cart_list .sale_price i + em{margin-left: 6px;} */
.cart_list .sale_price .discount {
	display: inline-block;
	padding-left: 10px;
	background: url(/images/mobile/sub/bg_discount.png) no-repeat 2px 50%;
	background-size: 7px;
}
.cart_list .option_area{margin-top: 20px;}
.cart_list .option_box{
	margin-left: -20px;
	line-height: 32px;
}
.cart_list .option_box:after{
	display: block;
	content: '';
	clear: both;
}
.cart_list .option_box dl{
	float: left;
	font-size: 1.083rem;
	margin-left: 19px;
}
.cart_list .option_box dt{float: left;}
.cart_list .option_box dd{float: left; margin-left: 8px;}
.cart_list .option_box .color{font-size: 0;}
.cart_list .option_box .color a{
	display: inline-block;
	position: relative;
}
.cart_list .option_box .color img{
	width: 24px;
	height: 24px;
	margin:0 4px;
	border-radius: 12px;
}
.cart_list .option_box .color a:after{
	position: absolute;
	top: 0px;
	left: 0;
	content: '';
	width: 32px;
	height: 32px;
	border-radius: 16px;
	box-sizing: border-box;	
}
.cart_list .option_box .color a:hover:after{border: 1px solid rgb(205,202,202);}
.cart_list .option_box .color a.on:after{border: 2px solid rgb(58,46,44);}
.cart_list .modify_box{
	float: none;
	width: auto;
	margin-top: -10px;
}
.cart_list .modify_box dl{
	float: none; margin-top: 10px;}
.cart_list .modify_box dt{width: 50px;}
.cart_list .modify_box dd{
	float: none;
	margin-left: 50px;
}
.cart_list .modify_box select{
	width: 100%;
	height: 35px;
	border: 0;
	line-height: 35px;
	padding-left: 15px;
	vertical-align: top;
	border: 1px solid rgb(186,182,181);
	font-size: 1.083rem;
	font-family: 'NanumSquareR';
}
.cart_list .modify_box select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: url(/images/mobile/sub/bg_select_down.svg) no-repeat 95% 50%;
	background: url(/images/mobile/sub/bg_select_down.svg) no-repeat calc(100% - 13px) 50%;
	background-size: 9px
}
.cart_list .modify_box select::-ms-expand{display: none;}
.cart_list .btn_modify{
	margin-top: 20px;
	width: 100%;
	height: 48px;
	line-height: 48px;
}
.cart_list .btn_box{
	position: relative;
	margin-top: 30px;
	line-height: 16px;
	font-size: 0;
}
.cart_list .btn_box a{
	display: inline-block;
	font-size: 1rem;
	font-family: 'NanumSquareR';
	text-align: center;
}
.cart_list .btn_box a + a{margin-left: 46px;}
.cart_list .btn_box .modify{
	float: left;
	padding-left: 19px;
	background: url(/images/mobile/common/ico_cart_option.svg) no-repeat 0 50%;
	background-size: 13px;
}
.cart_list .btn_box .remove{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -30px;
	padding-left: 23px;
	background: url(/images/mobile/common/ico_cart_remove.svg) no-repeat 0 50%;
	background-size: 16px;
}
.cart_list .btn_box .wishlist{
	float: right;
	padding-left: 23px;
	background: url(/images/mobile/common/ico_wish_hover.svg) no-repeat 0 50%;
	background-size: 16px;
}
.cart_list .option_area .soldout_txt{
	display: block;
	width: 176px;
	height: 48px;
	line-height: 48px;
	font-family: 'NanumSquareR';
	font-size: 0.917rem;
	text-align: center;
	background: rgb(230,225,231);
}
.cart_price{
	padding: 40px 15px 40px;
	background: rgb(242,239,242);
}
.cart_price .price dl{overflow: hidden;}
.cart_price .price dl + dl{margin-top: 22px;}
.cart_price .price dt{
	float: left;
	width: 115px;
	font-size: 1.25rem;
	font-family: 'NanumMyeongjo';
}
.cart_price .price dd{
	margin-left: 115px;
	font-size: 1.417rem;
	text-align: right;
}
.cart_price .price .p_discount_btn {
	padding-right: 25px;
	color: rgb(230,33,23);
	background: url(/images/mobile/sub/bg_select_down_19x19_r.svg) no-repeat 100% 0;	
	background-size: 19px;
}
.cart_price .price .p_discount_con {
	display: none;
	float: none;
	clear: both;
	margin-top: 15px;
	margin-left: 0;
	padding: 15px 20px 15px 0;
	color: rgb(58,46,44);
	line-height: 21px;
	background: rgb(250,249,250);
	text-align: right;
}
.cart_price .price .p_discount_con strong {
	display: inline-block;
	font-size: 1.083rem;
	font-family: 'NanumSquareR';
	font-weight: normal;
}
.cart_price .price .p_discount_con span {
	display: inline-block;
	min-width: 65px;	
	font-size: 1.167rem;
}
.cart_price .price .is_open .p_discount_btn {
	background: url(/images/mobile/sub/bg_select_up_19x19_r.svg) no-repeat 100% 0;	
	background-size: 19px;
}
.cart_price .price .is_open .p_discount_con {
	display: block;
}
.cart_price .price .total dd{
	font-size: 2.667rem;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjo';
	line-height: 1;
}
.cart_price .btn_box{margin-top:45px;}
.cart_price .btn_box a{
	float: left;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 1.083rem;
	text-align: center;
}
.cart_price .btn_box .btn_t{
	overflow: hidden;
	margin-bottom: 15px;
}
.cart_price .btn_box .btn_t > a{
	width: 47.58%;
	font-weight: bold;
}
.cart_price .btn_box .btn_t > a + a{float: right;}
.cart_tab{
	padding: 30px 0 40px;
	background: rgb(229,224,230);
}
.g_list{overflow: hidden;}
.g_list > li{
	position: relative;
	float: left;
	margin-bottom: 20px;
	width: 47.58%;
}
.g_list > li:nth-child(2n){;margin-left: 4.82%;}
.g_list > li:nth-child(2n + 1 ){
	clear: both;
}
.g_list > li .btn{
	position: absolute;
	top: 10px;
	right: 10px;
}
.g_list li .btn a{
	float: left;
}
.g_list li .btn .cart{
	position: relative;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
	background: url(/images/mobile/common/ico_u_cart.svg) no-repeat 50% 50%;
	background-size: 13px;
	transition: all 0.3s ease-in-out;
}
.g_list li .btn .cart:after {
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:'';
	width:30px;
	height:30px;
	background:url(/images/mobile/common/ico_u_cart_active.svg) 50% 50% no-repeat;
	background-size: 13px;
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.g_list li .btn .cart:active,
.g_list li .btn .cart.on{
	background: url(/images/mobile/common/ico_u_cart_active.svg) no-repeat 50% 50%;
	background-size: 13px;
}
.g_list li .btn .cart:active:after,
.g_list li .btn .cart.on:after{
	-webkit-animation-name: cartActive;
	animation-name: wishActive;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
.g_list .photo{padding: 48px 8px 6px; background: rgb(255,255,255);}
.g_list .photo img{width: 100%;}
.g_list .txt_box{
	margin-top: 5px;
	font-size: 1.167rem;
	line-height: 18px;
}
.g_list .txt_box .name:after{
	display: inline-block;	
	content: '';
	margin-left: 5px;
	width: 23px;
	height: 1px;
	background: rgb(58,46,44);
	vertical-align: middle;
}
.g_list .txt_box .sale_price i{
	display: inline-block;
	position: relative;
	font-style: normal;
}
.g_list .txt_box .sale_price i:after{
	content:'';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgb(58,46,44);
	-webkit-transform: skewY(7deg);
	-ms-transform: skewY(7deg);
	transform: skewY(7deg);
}
.g_list .txt_box .sale_price em{
	display: inline-block;
	margin-left: 8px;
	font-style: normal;
	color: rgb(230,33,23)
}
.cart_tab .tab_menu > a{
	padding-left: 15px;
	padding-bottom: 30px;
	height: 20px;
	font-size: 1.333rem;
	color: rgb(156,150,149);
}
.cart_tab .tab_menu.kor > a{
	font-size: 1.083rem;
}
.cart_tab .tab_con + .tab_menu a{
	padding-left: 5px;
}
.cart_tab .tab_con{
	padding: 75px 15px 0;
}
.cart_tab .btn_box{
	margin-top: 5px;
	text-align: center;
}
.cart_tab .btn_box > a{
	display:block;
	height: 48px;
	line-height: 48px;
}
/* slick slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* slick style */
.slick-arrow{
	width: 15px;
	height: 14px;
	text-indent: -9999px;
}
.slick-prev{
	background: url(/images/mobile/btn/btn_slider_prev.png) no-repeat 0 0;
	background-size: 7px;
}
.slick-next{
	background: url(/images/mobile/btn/btn_slider_next.png) no-repeat 100% 0;
	background-size: 7px
}
.slick-dots{
	font-size: 0px;
	height: 5px;
}
.slick-dots li{float: left;}
.slick-dots li button{
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid rgb(206,203,202);
	text-indent: -9999px;
	background: rgb(206,203,202);
	transition: all 0.25s cubic-bezier(1,0,1,3)
}
.slick-dots .slick-active button{
	width: 10px;
	height: 10px;
	margin: -2px;
	border-radius: 5px;
	background: transparent;
	border: 2px solid rgb(63,51,49);	
}
@media screen and (max-width: 767px){
	.m_hide{display: none !important;}
	.f_bottom .f_link > a{
		position: relative;
	}
	.f_bottom .f_link > a + a:before{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content:'|';
		font-size: 10px;
	}
	.f_bottom .f_link > a:first-child{
		text-align: left;
		width: 25%;
	}
	.f_bottom .f_link > a:nth-child(2){
		text-align: center;
		width: 50%;
	}
	.f_bottom .f_link > a:nth-child(3){
		text-align: right;
		width: 25%;
	}
	.f_sns a{
		float: left;
		height: 26px;
		/* margin-left: 40px; */
		text-indent: -9999px;
	}
	.f_sns div:first-child {
		width: 52.75%;
	}
	.f_sns div:first-child a:nth-child(1) { width: 24.18%; }
	.f_sns div:first-child a:nth-child(2) { 
		width: 46.40%; 
		background-position: 50% 50%;
	}
	.f_sns div:first-child a:nth-child(3) { 
		width: 29.41%;	
		background-position: 100% 50%;	
	}
	.f_sns div:nth-child(2) {
		float: right;
		width: 31%;
	}
	.f_sns div:nth-child(2) a:nth-child(1) {
		width: 50%;
		background-position: 0 50%;
	}
	.f_sns div:nth-child(2) a:nth-child(2) {
		width: 50%;
	}
	.f_sns div:first-child a:first-child{margin-left: 0;}
}
@media screen and (min-width: 768px){
	.t_hide{display: none !important;}
	.f_menu{
		overflow: hidden;
		padding: 38px 4.68% 35px;	
	}
	.f_menu > li{
		float: left;
		width: 31.73%;
		padding: 0;
	}
	.f_menu > li + li{
		border-top: 0;
		margin-left: 2.4%;
	}
	.f_menu .category > a{
		float: none;
		display: block;
		width: auto;
	    font-family: 'GTSectraFineBook','NanumSquareR';
		margin-top: 20px;
		font-size: 1.167rem;
		line-height: 24px;
	}
	.f_menu .category > a:first-child{margin-top: 25px;}
	.f_sns{
		float: left;
		margin-top: 0;
	}
	.f_sns > div{width: 46.21%;}
	.f_sns > div + div{margin-left: 5.48%;}
	.f_sns a{
		width: 100%;
		height: 25px;
		margin: 20px 0 0;
		padding-left: 30px;
		font-size: 1.167rem;
		line-height: 24px;
		text-indent: 0;
		box-sizing: border-box
	}
	.f_sns > div > a:first-child{margin-top: 25px;}
	.f_menu .facebook{
		background-position: 2px 50%;
		background-size: 8px;
	}
	.f_menu .twitter{
		background-size: 15px;
	}
	.f_menu .instagram{
		background-size: 16px;
	}
	.f_menu .youtube{
		background-position: 0 50%;
		background-size: 16px;
	}
	.f_menu .pinterest{
		background-position: 0 50%;
		background-size: 15px;
	}
	.f_bottom{
		position: relative;
		padding: 30px 4.68% 40px;
	}
	.f_bottom .f_link{
		position: absolute;
		top: 53px;
		right: 4.68%;
	}
	.f_bottom .f_link > a{margin-left: 15px}
	.f_bottom .f_link > a + a:before{display: none}
	.btn_f_info{display: none;}
	.f_bottom .f_info{
		clear: both;
		height: auto;
		overflow: hidden;
		transition: all 0.3s
	}
	.f_bottom .btn_f_info.on + .f_info{padding-top: 0;}
	.f_logo{margin-top: 5px; float: left;}
	.f_logo img{
		width: 134px;
	}
	.f_bottom .copyright{
		float: right;
		margin-top: 0;
	}
	.f_bottom .address{
		clear: both;
		padding: 35px 0 0;
	}
}