$header-height: 5rem;

// header
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: $header-height;
  @include gradient(45deg, $color-primary, rgb(12,150,153));
  .btn-gnb {
    float: left;
    border-right: 1px solid rgba(255,255,255,0.2);
    @include burger-menu($header-height, $header-height, 1.5rem, 0.5rem, 0.3rem, rgb(255,255,255), 0.3s, 0.3rem);

    &--active {
      @include burger-menu--cross;
    }
  }
}
#header .logo {
  float: left;
  margin-left: 20px;
  font-size: 3rem;
  line-height: $header-height;
  letter-spacing: 0.1em;
  color: #ffffff
}
