/// 가장자리 둥글게 처리된 사각형 만들기 믹스인
/// @param {Number (with unit)} $shape-width [40px] - 사각형 넓이
/// @param {Number (with unit)} $shape-height [$shape-width] - 사각형 높이
/// @param {Number (with unit)} $shape-radius [auto] - 가장자리 라운딩
@mixin rounded_rect($shape-width: 40px, $shape-height: $shape-width, $shape-radius: auto){
  width: $shape-width;
  height: $shape-height;
  // radius값이 따로 지정되어있을 경우 그 값을 지정
  @if $shape-radius != auto {
    border-radius: $shape-radius;
  } @else {
    // 따로 지정되지 않았을 경우 높이의 1/2 값 적용
    border-radius: strip-unit($shape-height)/2 * set-unit(get-unit($shape-height));
  }
}