@charset "utf-8";

/*SKIP NAVI*/
#skipNavi li { font-size:0; line-height:0; z-index:99999999999;}
#skipNavi li a { display:block; width:100%; padding:10px 0; color:#fff; position:absolute; left:0; top:-100px; text-align:center; z-index:200; background:#413022; border:0 none; z-index:99999999999;}
#skipNavi li a:active, #skipNavi li a:focus { top:0; font-weight:bold;font-size:16px;line-height:1.5; border-bottom:1px solid #fff; z-index:99999999999;}

body{font-family: 'GTSectraFineBook', 'NanumMyeongjo', 'NanumSquareR', serif; color: rgb(58,46,44);}
body a{color: rgb(58,46,44);}
/*#wrap{padding-top: 120px;}*/
#topBanner{
	width: 100%; 
	background: rgb(1,131,67);
	animation-name: fadeIndown;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.44,0.01,0.64,0.99);
	animation-fill-mode: forwards;
}
#topBanner .top_banner_inner{
	overflow: hidden;
	position: relative;
	width: 1156px;
    margin: 0 auto;
    padding: 20px 0;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.top_banner .top_banner_inner a {
    color: rgb(255,255,255);
}
.top_banner .check {
    margin-left: 7px;
    border-bottom: 1px solid rgb(255,255,255);
    font-family: 'PatronRegular';
    font-size: 14px;
    color: rgb(255,255,255);
}
.top_banner .btn_close {
    position: absolute;
    top: 30%;
    right: 0;
}
@-webkit-keyframes fadeIndown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -62px, 0);
		transform: translate3d(0, -62px, 0);
	}
	to {
		opacity: 1;
		
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIndown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -62px, 0);
		transform: translate3d(0, -62px, 0);
	}
	to {
		opacity: 1;
		
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
#header{
/*	position: fixed;*/
	position:relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	margin:0 auto;
	background: rgb(255,255,255);
	z-index: 9997;
	transition: all 0.28s cubic-bezier(0.19,1,0.22,1)
}
#header .util{
	overflow: hidden;
	width: 1156px;
	height: 50px;
	margin: 0 auto;
}
#header .notice{
	float: left;
	margin-top: 10px;
	font-family: 'NanumSquareR';
}
#header .notice > p{
	float: left;
	/* overflow: hidden; */
	/* width: 205px; */
	font-size: 13px;
	color: rgb(51,0,173);
/* 	text-overflow: ellipsis;
	white-space: nowrap; */
}
#header .notice .btn_more{
	margin-left: 7px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(153,153,135);
	font-size: 11px;
	color: rgb(153,153,153);
}
#header .util_menu{
	float: right;
	margin-top: 10px;
	font-size: 0;
}
#header .util_menu a{
	display: inline-block;
	margin-left: 31px;
	font-size: 12px;
	line-height: 18px;
	color: rgb(118,118,118);
}
#header .util_menu .store{
	padding-left: 23px;
	background: url(/images/pc/common/ico_u_store.png) no-repeat 0 50%;
}
#header .util_menu .login{
	padding-left: 32px;
	background: url(/images/pc/common/ico_u_login.png) no-repeat 0 50%;
}
#header .util_menu .search{
	padding-left: 23px;
	background: url(/images/pc/common/ico_u_srh.png) no-repeat 0 50%;
}
#header .search_box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(247,247,247);
	z-index: 9998
}
#header .search_box .btn_close{
	position: absolute;
	top: 30px;
	right: 30px;
}
#header .search_inner{
	overflow: hidden;
	width: 1156px;
	margin: 0 auto;
	padding: 47px 0 55px;
}
#header .btn_srh{
	float: left;
	height: 60px;
}
#header .search_inner .input{
	position: relative;
	float: left;
	width: 1114px;
	margin-left: 20px;
}
#header .srh_ipt{
	width: 1114px;
	height: 60px;
	border-bottom: 1px solid rgb(204,204,204);
	line-height: 60px;
	font-size: 36px;
	font-family: 'GTSectraFineBook' ,' NanumSquareR';
	background: none;
	color: rgb(58,46,44);
}
#header .srh_label{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 60px;
	font-size: 36px;
	color: rgb(136,136,136)
}
#header .label-active,
#header .no-empty .srh_label{
	font-size: 0;
	line-height: 0;
}
#header .srh_ipt:focus{
	outline: 0;
	border-color: rgb(51,0,173);
	background: url(/images/pc/common/bg_srh_down.png) no-repeat 100% 50%;
}
#header .tt-hint{display: none;}
#header .tt-menu {
	position: static !important;
	display: block !important;
	width: 100%;
	max-height: 600px;
	overflow-y: auto;
	clear: both;
	padding-top: 15px;
	clear: both;
}
#header .tt-suggestion{
	margin-top: 12px;
	font-size: 18px;
	line-height: 20px;
}
#header .tt-suggestion:hover {
	cursor: pointer;
	text-decoration: underline
}
#header .tt-suggestion.tt-cursor {text-decoration: underline}
#header .tt-suggestion p {margin: 0;}
#header .tt-highlight{font-weight: normal;}
.header_inner{
	position: relative;
	width: 1156px;
	margin: 0 auto;
	z-index: 3
}
.logo{
	position: absolute;
	top: 7px;
	left: 50%;
	width: 133px;
	margin-left: -66px;
	text-align: center;
}
.logo img{
	width: 133px;
	vertical-align: top;
	transition: all 0.28s cubic-bezier(0.19,1,0.22,1)
}
.gnb{
	float: left;
	margin-top: 10px;
}
.gnb > li{
	float: left;
	margin-right: 28px;
}
.gnb > li > a{
	display: block;
	padding-top: 7px;
	height: 53px;
	font-family: 'GTSectraFineMedium';
	font-size: 14px;
}
.gnb .depth1 > a{
	padding-right: 15px;
	background: url(/images/pc/common/bg_gnb_down.png) no-repeat 100% 13px;
	transition: all 0.3s 0.2s;
}
.gnb .depth1.on > a,
.gnb .depth1 > a:hover{
	color: rgb(255,82,95);
	background: url(/images/pc/common/bg_gnb_down_on.png) no-repeat 100% 13px;
}
.depth2{
	overflow: hidden;
	position: absolute;
	top: 70px;
	left: -58px;
	opacity: 0;
	height: 0;
	width: 1157px;
	padding: 0 58px;
	z-index: -100;
	transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}
.on .depth2{
	opacity: 1;
	height: auto;
	border-top: 1px solid rgb(227,225,228);
}
.depth2_inner{
	opacity: 0;
	display: flex;
	transform:translateY(-100px);
}
.on .depth2_inner{
	opacity: 1;
	transform:translateY(0);
	transition:transform 0.74s cubic-bezier(0.19,1,0.22,1),opacity 0.3s linear .2s
}
.depth2_style1{
	background: rgb(255,255,255);
}
.depth2_style1 .slider{
	display: table-cell;
	width: 240px;
	padding: 35px 73px 56px 0;
	border-right: 1px solid rgb(227,225,228);
	vertical-align: top;
}
.depth2_style1 .slider > h2{
	font-size: 18px;
	font-family: 'GTSectraFineMedium';
	font-weight: normal;
	color: rgb(58,46,44);
}
.depth2_style1 .slider_box{
	position: relative;
	width: 240px;
	margin-top: 20px;
}
.depth2_style1 .slick-list{z-index: 333}
.depth2_style1 .slick-arrow{
	position: absolute;
	top: 258px;
	width: 15px;
	height: 14px;
	text-indent: -9999px;
	z-index: 334
}
.depth2_style1 .slick-prev{
	right: 19px;
	background: url(/images/pc/btn/btn_slider_prev.png) no-repeat 0 0;
}
.depth2_style1 .slick-next{
	right: 0;
	background: url(/images/pc/btn/btn_slider_next.png) no-repeat 100% 0;
}
.depth2_style1 .slick-dots{
	position: absolute;
	top: 263px;
	left: 0;
	z-index: 334
}
.depth2_style1 .slick-dots li{
	float: left;
	margin-right: 14px;
}
.depth2_style1 .slick-dots li button{
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	border: 2px solid rgb(206,203,202);	
	text-indent: -9999px;
	background: rgb(206,203,202);
	transition: all 0.25s cubic-bezier(1,0,1,3)
}
.depth2_style1 .slick-dots .slick-active button{
	width: 10px;
	height: 10px;
	margin: -2px;
	border-radius: 5px;
	background: rgb(255,255,255);
	border: 2px solid rgb(63,51,49);	
}
.depth2_style1 .slider .txt_box{
	margin-top: 48px;
	width: 240px;
}
.depth2_style1 .slider .txt{
	font-size: 24px;
}
.depth2_style1 .l_menu{
	overflow: hidden;
	display: table-cell;
	width: 588px;
	padding: 35px 0 56px 78px;
}
.depth2_style1 .l_menu > li{
	float: left;
	width: 176px;
	margin-right: 20px;
	vertical-align: top;
}
.depth2_style1 .l_menu > li > a{
	font-size: 18px;
	font-family: 'GTSectraFineMedium';
	font-weight: normal;
	border-bottom: 1px solid transparent;
}
.depth2_style1 .l_menu > li > ul{margin-top: 19px;}
.depth2_style1 .l_menu > li > ul a{
	display: inline-block;
	margin-top: 11px;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 1px solid transparent;
}
.depth2_style1 .l_menu > li > ul .depth3_mt a{
	margin-top: 27px;
}
.depth2_style1 .r_menu{
	display: table-cell;
	width: 176px;
	padding: 35px 0 56px;
	vertical-align: top;
}
.depth2_style1 .r_menu a{
	display: inline-block;
	font-size: 18px;
	font-family: 'GTSectraFineMedium';
	font-weight: normal;
	border-bottom: 1px solid transparent;
}
.depth2_style1 .l_menu > li > a:hover,
.depth2_style1 .l_menu > li > ul a:hover,
.depth2_style1 .r_menu a:hover{border-bottom: 1px solid rgb(216,213,213);}
.depth2_style1 .l_menu > li > a:focus,
.depth2_style1 .l_menu > li > ul a:focus,
.depth2_style1 .r_menu a:focus{
	color: rgb(51,0,173);
	border-bottom: 1px solid rgb(51,0,173);
}
.depth2_style1 .r_menu li + li{
	margin-top: 23px;
	padding-top: 27px;
	border-top: 1px solid rgb(227,225,228);
}
.sale_type1{
	color: rgb(255,255,255);
	background: rgb(0,48,86);
}
.sale_type1 a{color: rgb(255,255,255);}
.sale_type1 > div > div{
	display: table-cell;
	width: 538px;
	padding-top: 40px;
	padding-bottom: 40px
}
.sale_type1 > div > div:first-child{padding-right: 40px;}
.sale_type1 > div > div + div{
	padding-left: 40px;
	border-left: 1px solid rgb(50,89,120);
}
.sale_type1 .photo{float: left;}
.sale_type1 .photo > img{width: 310px;}
.sale_type1 .category{
	float: left;
	margin-left: 40px;
	width: 188px;
}
.sale_type2 {
	background: url(/images/pc/common/bg_sale_gnb.jpg) no-repeat 50% 0;
}
.sale_type2_inner {
	padding-top: 170px;
	padding-left: 665px;
	height: 335px;
}
.sale_type2  .category ul {
	padding-top: 9px;
}
.sale_type2  .category h2,
.sale_type2  .category a {
	color: rgb(255,255,255);
}
.sale_type2 .category {
	float: left;
	width: 196px;
	margin-right: 20px;
}
.sale_type3 {
	background: url(/images/pc/common/bg_sale_gnb2.jpg) no-repeat 50% 0;
}
.sale_type3_inner {
	padding-top: 87px;
	padding-left: 686px;
	height: 333px;
}
.sale_type3  .category ul {
	padding-top: 1px;
}
.sale_type3 .category {
	float: left;
	width: 196px;
}
.sale_type3 .category + .category {
	margin-left: 78px;
}
[class*="sale_type"] .category > h2{
	margin-top: -5px;
	font-family: 'GTSectraFineMedium';
	font-size: 25px;
	font-weight: normal;
}
[class*="sale_type"] .category li a{
	display: block;
	margin-top: 25px;
	font-size: 16px;
	line-height: 20px;
}
[class*="sale_type"] .category li ul {
	margin-left:10px;
}


[class*="sale_type"] .category li ul li a{
	display: block;
	margin-top: 15px;
	font-size: 12px;
	line-height: 14px;
	font-family: "PatronRegular"
}
[class*="sale_type"] .category .sale_info{
	margin-top: 24px;
	padding-top: 29px;
	background: url(/images/pc/common/bg_g_sale_line.gif) no-repeat 0 0;
}
[class*="sale_type"] .category .sale_info > a{
	display: block;
	font-size: 12px;
	font-family: 'PatronRegular';
}
[class*="sale_type"] .category .sale_info > a + a{margin-top: 20px;}
.ie7 .depth2_style1 .depth2_inner >  div,
.ie7 .depth2_style1 .depth2_inner > ul{float: left;}
.ie7 .sale_type1 > div > div{float: left;}

.gnb_r{
	float: right;
	margin-top: 10px;
}
.gnb_r > div{
	float: left;
}
.gnb_r > div a{
	display: block;
	height: 30px;
	font-family: 'GTSectraFineMedium';
	font-size: 14px;
	line-height: 30px;
}
.gnb_r .cart{
	padding-left: 19px;
	margin-left: 14px;
	background: url(/images/pc/common/bg_u_line.gif) no-repeat 0 0;
}
.wish{
	position: relative;
	display: block;
	width: 18px;
	height: 17px;
	text-indent: -9999px;
}
.wish.wish_on:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -53px; 
	background-image: url(/images/mobile/common/ico_wish_on.png);
	background-repeat: no-repeat; background-size: auto 80px;
	z-index : 600;
}
.wish.wish_off:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -53px; 
	background-image: url(/images/mobile/common/ico_wish_off.png);
	background-repeat: no-repeat; background-size: auto 80px;
	z-index : 600;
}
.wish.wish_change_on:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -53px; 
	background-image: url(/images/mobile/common/ico_wish_create.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_create 1s steps(1) 1 forwards;
	z-index : 600;
}
.wish.wish_change_off:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -53px; 
	background-image: url(/images/mobile/common/ico_wish_remove.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_remove 1s steps(1) 1 forwards;
	z-index : 600;
}

.wish_box .wish.wish_on:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_on.png);
	background-repeat: no-repeat; background-size: auto 80px;
	z-index : 600;
}
.wish_box .wish.wish_off:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_off.png);
	background-repeat: no-repeat; background-size: auto 80px;
	z-index : 600;
}
.wish_box .wish.wish_change_plus_s:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_plus_s.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_create 1s steps(1) 1 forwards;
	z-index : 600;
}
.wish_box .wish.wish_change_plus:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_plus.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_create 1s steps(1) 1 forwards;
	z-index : 600;
}
.wish_box .wish.wish_change_minus:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_minus.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_minus 1s steps(1) 1 forwards;
	z-index : 600;
}
.wish_box .wish.wish_change_minus_e:after{
	content: ''; position: absolute; display: block;
	width: 50px; height: 80px; left : -16px; top : -46px; 
	background-image: url(/images/mobile/common/ico_wish_remove.png);
	background-repeat: no-repeat; background-size: auto 80px;
	background-position: 0 0;
	animation: wish_ani_remove 1s steps(1) 1 forwards;
	z-index : 600;
}
@keyframes wish_ani_create {
	0% { background-position: 0px 0} 			4% { background-position: -50px 0} 			8% { background-position: -100px 0} 		12% { background-position: -150px 0} 		16% { background-position: -200px 0}
	20% { background-position: -250px 0} 		24% { background-position: -300px 0} 		28% { background-position: -350px 0} 		32% { background-position: -400px 0} 		36% { background-position: -450px 0}
	40% { background-position: -500px 0} 		44% { background-position: -550px 0} 		48% { background-position: -600px 0} 		52% { background-position: -650px 0} 		56% { background-position: -700px 0}
	60% { background-position: -750px 0} 		64% { background-position: -800px 0} 		68% { background-position: -850px 0} 		72% { background-position: -900px 0} 		76% { background-position: -950px 0}
	80% { background-position: -1000px 0} 		84% { background-position: -1050px 0} 		88% { background-position: -1100px 0} 		92% { background-position: -1150px 0} 		96% { background-position: -1200px 0}
	100% { background-position: -1250px 0}
}
@keyframes wish_ani_remove {
	0% { background-position: 0px 0} 			4% { background-position: -50px 0} 			8% { background-position: -100px 0} 		12% { background-position: -150px 0} 		16% { background-position: -200px 0}
	20% { background-position: -250px 0} 		24% { background-position: -300px 0} 		28% { background-position: -350px 0} 		32% { background-position: -400px 0} 		36% { background-position: -450px 0}
	40% { background-position: -500px 0} 		44% { background-position: -550px 0} 		48% { background-position: -600px 0} 		52% { background-position: -650px 0} 		56% { background-position: -700px 0}
	60% { background-position: -750px 0} 		64% { background-position: -800px 0} 		68% { background-position: -850px 0} 		72% { background-position: -900px 0} 		76% { background-position: -950px 0}
	80% { background-position: -1000px 0} 		84% { background-position: -1050px 0} 		88% { background-position: -1100px 0} 		92% { background-position: -1150px 0} 		96% { background-position: -1200px 0}
	100% { background-position: -1250px 0}
}
@keyframes wish_ani_minus {
	0% { background-position: 0px 0} 			4% { background-position: -50px 0} 			8% { background-position: -100px 0} 		12% { background-position: -150px 0} 		16% { background-position: -200px 0}
	20% { background-position: -250px 0} 		24% { background-position: -300px 0} 		28% { background-position: -350px 0} 		32% { background-position: -400px 0} 		36% { background-position: -450px 0}
	40% { background-position: -500px 0} 		44% { background-position: -550px 0} 		48% { background-position: -600px 0} 		52% { background-position: -650px 0} 		56% { background-position: -700px 0}
	60% { background-position: -750px 0} 		64% { background-position: -800px 0} 		68% { background-position: -850px 0} 		72% { background-position: -900px 0} 		76% { background-position: -950px 0}
	80% { background-position: -1000px 0} 		84% { background-position: -1050px 0} 		88% { background-position: -1100px 0} 		92% { background-position: -1150px 0} 		96% { background-position: -1200px 0}
	100% { background-position: -1250px 0}
}
@keyframes wish_ani_plus {
	0% { background-position: 0px 0} 			4% { background-position: -50px 0} 			8% { background-position: -100px 0} 		12% { background-position: -150px 0} 		16% { background-position: -200px 0}
	20% { background-position: -250px 0} 		24% { background-position: -300px 0} 		28% { background-position: -350px 0} 		32% { background-position: -400px 0} 		36% { background-position: -450px 0}
	40% { background-position: -500px 0} 		44% { background-position: -550px 0} 		48% { background-position: -600px 0} 		52% { background-position: -650px 0} 		56% { background-position: -700px 0}
	60% { background-position: -750px 0} 		64% { background-position: -800px 0} 		68% { background-position: -850px 0} 		72% { background-position: -900px 0} 		76% { background-position: -950px 0}
	80% { background-position: -1000px 0} 		84% { background-position: -1050px 0} 		88% { background-position: -1100px 0} 		92% { background-position: -1150px 0} 		96% { background-position: -1200px 0}
	100% { background-position: -1250px 0}
}
.ie8 .wish:after{display: none; content: none}

.wish:active,
.wish.on{
	background: url(/images/mobile/common/ico_wish_on.gif) no-repeat;
}
.wish:active:after,
.wish.on:after{
	
}
.gnb_r .wish_box a{
	text-indent: 0;	
	padding-left: 28px;
}
.gnb_r .cart {
	position: relative;
}
.gnb_r .cart a{
	overflow: visible;
	display:block;
	/* 2017-06-16 추가 아이템 수 변경되면 아이콘 액션이 흔들려 보임 */
	padding-left: 17px;
	min-width: 55px;
	text-align: right;
}
/* (2017-06-14) 코딩수정 : IE는 background-size의 animation을 지원하지 않음 */
.gnb_r .cart a + .icon{
	position: absolute;
	top: 0;
	left: 19px;
	width: 13px;
	height: 100%;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url(/images/pc/common/ico_u_cart.png);
}
.cart a + .icon:after {
	position: absolute;
	top: 15px;
	left: 6px;
	display: block;
	content: '';
	opacity: 0;
	border-radius: 100%;
	border: 1px solid rgb(51,0,173);
	width: 1px;
	height: 1px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ie8 .cart a + .icon:after { display:none; content:none }
.cart a + .icon:hover{
	background-image: url(/images/pc/common/ico_u_cart_over.png);
	background-size:13px 18px;
}
.cart a:active + .icon,
.cart a.on + .icon {
	background: url(/images/pc/common/ico_u_cart_on.png) no-repeat 0 50%;
	background-size:13px 18px;
	-webkit-animation-name: cartIconAction;
	animation-name: cartIconAction;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: cubic-bezier(0.18, 0.76, 1, 1);
	animation-timing-function: cubic-bezier(0.18, 0.76, 1, 1);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.gnb_r .cart a:active + .icon,
.gnb_r .cart a:active + .icon:after {
	animation: none;
}
.cart a:active + .icon:after,
.cart a.on + .icon:after {
	-webkit-animation-name: cartCircleAction;
	animation-name: cartCircleAction;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: cubic-bezier(0.82, 0.2, 1, 1);
	animation-timing-function: cubic-bezier(0.82, 0.2, 1, 1);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes cartIconAction {
	0% { background-image: url(/images/pc/common/ico_u_cart.png); -webkit-transform: scale(1)}
	50% { background-image: url(/images/pc/common/ico_u_cart.png); -webkit-transform: scale(1)}
	65% { background-image: url(/images/pc/common/ico_u_cart.png); -webkit-transform: scale(0.1)}
	100% { background-image: url(/images/pc/common/ico_u_cart_on.png); -webkit-transform: scale(1)}
}
@keyframes cartIconAction {
	0% { background-image: url(/images/pc/common/ico_u_cart.png); transform: scale(1)}
	50% { background-image: url(/images/pc/common/ico_u_cart.png); transform: scale(1)}
	65% { background-image: url(/images/pc/common/ico_u_cart.png); transform: scale(0.1)}
	100% { background-image: url(/images/pc/common/ico_u_cart_on.png); transform: scale(1)}
}
@-webkit-keyframes cartCircleAction {
	0% { opacity: 1; border-width: 1px; width: 80px; height: 80px; }
	45% { opacity: 1; border-width: 10px; width: 40px; height: 40px; }
	60% { opacity: 0; border-width: 1px; width: 0; height: 0;}
}
@keyframes cartCircleAction {
	0% { opacity: 1; border-width: 1px; width: 80px; height: 80px;}
	45% { opacity: 1; border-width: 10px; width: 40px; height: 40px;}
	60% { opacity: 0; border-width: 1px; width: 0; height: 0;}
}
@-webkit-keyframes cartActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		transform: scale(0.5);
	}
	100%{
		top: -20px;
		transform: scale(0.5);
		opacity: 0
	}
}
@keyframes cartActive{
	0%{
		opacity: 1;
	}
	50%{
		top: -10px;
		transform: scale(0.5);
	}
	100%{
		top: -20px;
		transform: scale(0.5);
		opacity: 0
	}
}


.promo_code{
	float: right;
	margin:18px 30px 0 0;
	font-size: 14px;
	font-family: 'GTSectraFineMedium';
	font-style: italic;
}

#header.mini_h{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}
#header.mini_h .util{display: none;}
#header.mini_h .logo{top: 16px;}
#header.mini_h .logo img{width: 109px;}
#header.mini_h .gnb > li > a{height: 33px;}
#header.mini_h .depth2{top: 50px;}
#header.mini_h .promo_code{display: none;}
#contents{clear: both;}
.container{
	width: 1156px; 
	margin: 0 auto
}
.location{
	font-size: 12px;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjo';
}
.location ul{
	overflow: hidden;
	padding: 18px 0 28px;
}
.location ul li{float: left;}
.location ul li > span{
	float: left;
	width: 18px;
	text-align: center;
}
.location ul li a{
	float: left;
	border-bottom: 1px solid transparent;
}
.location ul li a:hover{
	color: rgb(51,0,173);
	border-color: rgb(51,0,173);
}
.location ul li a:active{
	transform: translateY(0.1em)
}
.f_inner{
	overflow: hidden;
	width: 1156px;
	margin:  0 auto;
}
.f_menu{
	float: left;
	padding: 100px 0 97px;
}
.f_menu > li{float: left;}
.f_menu > li + li{margin-left: 20px;}
.f_menu > li > a{
	display: block;
	font-size: 12px;
	font-family: 'PatronRegular';
}
.f_menu .category{
	float: left;
	margin-top: 30px;
	width: 176px;
}
.f_menu .category > a{
	display: block;
    font-family: 'GTSectraFineBook','NanumSquareR';
	font-size: 16px;
	line-height: 24px;
} 
.f_menu .category > a.p_color{    
	font-family: 'GTSectraFineMedium';
	color:rgb(255,82,95);
	text-decoration: underline;	
}
.f_menu > li .category.ml20{margin-left: 20px;}
.f_menu > li.f_sns .category{width:156px;}

.f_menu .category > a + a{margin-top: 20px;}
.f_sns .category a{padding-left: 30px;}
.f_menu .facebook{background: url(/images/pc/common/ico_f_facebook.png) no-repeat 3px 50%}
.f_menu .twitter{background: url(/images/pc/common/ico_f_twitter.png) no-repeat 0 50%}
.f_menu .instagram{background: url(/images/pc/common/ico_f_instagram.png) no-repeat 0 50%}
.f_menu .youtube{background: url(/images/pc/common/ico_f_youtube.png) no-repeat 0 50%}
.f_menu .pinterest{background: url(/images/pc/common/ico_f_pinterest.png) no-repeat 0 50%}
.f_slider{
	float: right;
	margin-top: 45px;
	width: 384px;
	padding: 0 8px;
}
.f_slider img{width: 100%;}
.f_slider .banner{
	padding: 35px 10px 0;
	width: 384px !important;
	box-sizing: border-box;
	text-align: center;
}
.f_slider .banner img{width: 363px;}
.f_slider .goods{
	width: 372px !important;
	padding: 0 6px;
}
.f_slider .goods > h2{
	display: inline-block;
	padding-right: 80px;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: -0.01em;
	background: url(/images/pc/common/bg_f_slider_line.gif) no-repeat 100% 50%;
}
.f_slider .goods .list{overflow: hidden;}
.f_slider .goods .list > li{
	float: left;
	width: 176px;
}
.f_slider .goods .list > li + li{margin-left: 20px;}
.f_slider .goods .wish{
	float: right;
	margin-right:15px;
	margin-top: 50px;
	outline:0px none;
}
.f_slider .goods .photo{
	overflow: hidden;
	width: 176px; 
	clear: both;
}
.f_slider .goods .photo img{
	width: 100%;
	transition: transform 0.3s ease-in
}
.f_slider .goods li:hover .photo img{
	transform: scale(1.1)
}
.f_slider .goods .txt_box{
	font-size: 15px;
	line-height: 24px;
}
.f_slider .banner:first-child{
	text-align: left;
	padding: 40px 35px 0 50px;
}
.f_slider .banner h2{
	font-size:30px;
	line-height: 45px;
	letter-spacing: -0.01em;
	margin-bottom: 25px;
	font-weight: normal;
}
.f_slider .banner p{
	font-size:13px;
	margin-bottom: 27px;
}
.f_slider .banner a.btn{
	display: inline-block;
	width:125px;
	height:48px;
	line-height: 48px;
}
.f_slider .review{
	padding-top: 35px;
	width: 384px !important
}
.f_slider .review .photo{
	float: left;
	width: 118px;
	margin-top: 18px;
}
.f_slider .review .txt_box{
	float: left;
	width: 246px;
	margin-left: 20px;	
	padding: 15px 0 65px;
	background: url(/images/pc/common/img_f_star.jpg) no-repeat 0 100%;
}
.f_slider .review .txt_box > h2{
	font-size: 28px;
	font-weight: normal;
	letter-spacing: -0.01em;
}
.f_slider .review .txt_box > p{
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
}
.f_slider .slick-arrow{
	position: absolute;
	top: 50%;
	width: 8px;
	height: 14px;
	margin-top: -7px;
	text-indent: -9999px;
	z-index: 777
}
.f_slider .slick-prev{
	left: -8px;
	background: url(/images/pc/btn/btn_slider_prev.png) no-repeat 0 0;
}
.f_slider .slick-next{
	right: -8px;
	background: url(/images/pc/btn/btn_slider_next.png) no-repeat 0 0;
}
.f_bottom{
	padding: 30px 0;
	background: rgb(58,46,44);
}
.f_logo{float: left;}
.f_logo img{vertical-align: top;}
.f_bottom .copyright{
	float: left;
	margin-left: 40px;
	font-size: 14px;
	line-height: 17px;
	color: rgb(255,255,255);
}
.f_bottom .f_link{
	float: right;
	font-size: 0;
}
.f_bottom .f_link > a{
	display: inline-block;
	margin-left: 16px;
	font-size: 11px;
	font-family: 'NanumSquareR';
	line-height: 17px;
	color: rgb(118,118,118)	
}
.f_bottom .address{
	clear: both;
	padding-top: 45px;
	font-size: 11px;
	font-family: 'NanumSquareR';
	line-height: 24px;
	color: rgb(118,118,118)
}
/* g_list : 인스타팝업, 장바구니의 작은 썸네일 리스트 */
.g_list{margin-left: -20px}
.g_list:after{
	display: block;
	content: '';
	clear: both;
}
.g_list li{
	position: relative;
	float: left;
	width: 176px;
	margin-left: 20px;
	padding: 35px 20px 54px;
	box-sizing: border-box;
	background: rgb(255,255,255);
}
.g_list li .btn{
	/* opacity: 0; */
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 333;
	/* transition: all 0.2s ease-in */
}

/*				*/
.cart_tab #cartTab2 .g_list li .btn{
	opacity: 1;
}
.cart_tab #cartTab2 .g_list li .btn a.wish {
	margin-top:8px;
}
.cart_tab #cartTab1 .g_list li .btn a.wish {
	display : none;
}
/*				*/


.g_list li:hover .btn{
	opacity: 1;
}
.lt-ie9 .g_list li .btn{
	display: none;
}
.lt-ie9 .g_list li:hover .btn{
	display: block;
}
.g_list li .btn a{
	float: left;
}
.g_list li .btn .cart,
.goods_list > li > .btn .cart{
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-indent: -99999px;
	background: url(/images/pc/common/ico_u_cart.png) no-repeat 50% 50%
}
.g_list li .btn .cart:after,
.goods_list > li > .btn .cart:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	background: url(/images/pc/common/ico_u_cart_on.png) no-repeat 50% 50%;
	background-size: 13px;
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.lt-ie9 .g_list li .btn .cart:after,
.lt-ie9 .goods_list > li > .btn .cart:after { 
	display: none; 
	content: none 
}
.g_list li .btn .cart:hover,
.goods_list > li > .btn .cart:hover{
	background: url(/images/pc/common/ico_u_cart_over.png) no-repeat 50% 50%;
}
.g_list li .btn .cart:active,
.g_list li .btn .cart.on,
.goods_list > li > .btn .cart:active,
.goods_list > li > .btn .cart.on{
	background: url(/images/pc/common/ico_u_cart_on.png) no-repeat 50% 50%;
	background-size: 13px;
}
.g_list li .btn .cart:active:after,
.g_list li .btn .cart.on:after,
.goods_list > li > .btn .cart:active:after,
.goods_list > li > .btn .cart.on:after {
	-webkit-animation-name: cartActive;
	animation-name: cartActive;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;	
}
.g_list li  .photo{overflow: hidden;}
.g_list li  .photo img{
	width: 100%;
	transition: transform 0.3s ease-in
}
.g_list li:hover .photo img{
	transform: scale(1.1)
}
.g_list li .txt_box{
	position: absolute;
	bottom: 6px;
	left: 9px;
	font-size: 15px;
	line-height: 24px;	
}
.g_list li .txt_box .sale_price i{
	display: inline-block;
	position: relative;
	font-style: normal;
}
.g_list li .txt_box .sale_price i:after{
	content:'';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgb(58,46,44);
	-webkit-transform: skewY(7deg);
	-ms-transform: skewY(7deg);
	transform: skewY(7deg);
}
.g_list li .txt_box .sale_price em{
	display: inline-block;
	margin-left: 8px;
	font-style: normal;
	color: rgb(230,33,23)
}
/* cart */
body.cart_on,
body.store_on{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.side_layer{
	display: none;
	position: fixed;
	top: 0;
	opacity: 0;
	right: -960px;
	width: 960px;
	height: 100%;
	background: rgb(255,255,255);
	z-index: 9999;
}
/* .cart_on .cart_area,
.store_on .store_area{
	opacity: 1;
	right: 0;
} */
.bg_cart,
.bg_store{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9998;
	transition: opacity 0.3s ease-in
}
.cart_on .bg_cart,
.store_on .bg_store{
	width: 100%;
	height: 100%;
	opacity: 1;
}
.ie8 .cart_on .bg_cart,
.ie8 .store_on .bg_store{
	background: rgb(0,0,0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.side_layer > .btn_close{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
}
.side_layer .side_layer_inner{
	height: 100%;	
	overflow-y: scroll;
	overflow-x: hidden;
}
.side_layer .side_layer_inner> div{margin-right: -20px;}
.cart_area .cart_box{
	margin-right: -20px;
	padding: 70px 98px 0;
}
.cart_area .cart_box .no_txt{
	padding-bottom: 130px;
}
.cart_area .cart_box .no_cart{
	margin-top: 40px;
	font-size: 22px;
	font-family: 'NanumMyeongjoBold';
	color: rgb(136,141,136);
}
.cart_area .cart_box .no_txt > .txt_link{
	margin-top: 30px;
}
.cart_list_area{margin-top: 30px;}
.cart_list_top > .check_box{float: left;}
.cart_list_top > .btn_remove{
	float: right;	
	font-size: 11px;
	width: 85px;
	height: 24px;
	line-height: 22px;
}
.cart_list{
	display: table;
	width: 100%;
	margin-top: 10px;
}
.cart_list > li{
	display: table-row;
}
.cart_list > li > div{
	display: table-cell;
	padding: 30px 0;
	border-top: 1px solid rgb(234,231,235);		
	vertical-align: middle;
}
.cart_list .check_box{width: 30px;}
.cart_list .photo{
	width: 176px;
	text-align: center;
}
.cart_list .photo > img{
	width: 156px;
	margin: 35px 10px;
}
.cart_list .info{
	padding-left: 20px;
	vertical-align: top;
}
.cart_list .txt{
	margin-top: 20px;
	overflow: hidden;
	font-size: 30px;	
}
.cart_list .txt .name{float: left;}
.cart_list .txt .price{float: right;}
.cart_list .sale_price{
	margin-top: 5px;
	font-family: 'NanumMyeongjo';
	font-size: 14px;
	line-height: 22px;
}
.cart_list .sale_price i{
	position: relative;
	font-style: normal;
}
.cart_list .sale_price i:after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	content: '';
	height: 1px;
	background: rgb(58,46,44);
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
}
.cart_list .sale_price em{
	font-style: normal;
	color: rgb(230,33,23);
}
.cart_list .sale_price i + em{margin-left: 8;}
.cart_list .sale_price .discount {
	display: inline-block;
	padding-left: 10px;
	background: url(/images/pc/sub/bg_discount.png) no-repeat 2px 50%;
}
.cart_list .option_area{margin-top: 20px;}
.cart_list .option_box{
	float: left;
	width: 300px;
	margin-left: -20px;
	line-height: 40px;
}
.cart_list .option_box dl{
	float: left;
	margin-left: 20px;
}
.cart_list .option_box dt{float: left;}
.cart_list .option_box dd{float: left; margin-left: 10px;}
.cart_list .option_box .color{font-size: 0;}
.cart_list .option_box .color a,
.cart_list .option_box .color i{
	display: inline-block;
	position: relative;
}
.cart_list .option_box .color img{
	width: 40px;
	height: 40px;
/* 	margin:0 5px;
	border-radius: 16px; */
}
.cart_list .option_box .color i:after,
.cart_list .option_box .color a:after{
/* 	position: absolute;
	top: 0px;
	left: 1px;
	content: '';
	width: 40px;
	height: 40px;
	border-radius: 20px;
	box-sizing: border-box;	 */
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	content: '';
}
.cart_list .option_box .color i:after{
	background: url(../../../images/pc/sub/bg_color_layer_on.png) no-repeat 0 0;
}
.cart_list .option_box .color a:after{
	background: url(../../../images/pc/sub/bg_color_layer.png) no-repeat 0 0;
}
/* .cart_list .option_box .color a:hover:after{border: 1px solid rgb(205,202,202);}
.cart_list .option_box .color a.on:after{border: 2px solid rgb(58,46,44);} */
.cart_list .option_box .color a:hover:after{
	background: url(../../../images/pc/sub/bg_color_layer_on.png) no-repeat 0 0;
}
.cart_list .option_box .color a.on:after{
	background: url(../../../images/pc/sub/bg_color_layer_select.png) no-repeat 0 0;
}
.cart_list .modify_box{
	float: none;
	width: auto;
}
.cart_list .modify_box select{
	float: left;
	width: 58px;
	height: 35px;
	margin-left: 20px;
	border: 0;
	line-height: 35px;
	vertical-align: top;
}
.cart_list .modify_box select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: url(/images/pc/sub/bg_select_down.png) no-repeat 100% 50%;
}
.cart_list .modify_box select::-ms-expand{display: none;}
.cart_list .btn_modify{
	width: 60px;
	height: 36px;
	margin-left: 20px;
	line-height: 34px;
	vertical-align: top;
}

.cart_list .option_area .btn_box{
	float: right;
	width: 240px;
	line-height: 40px;
	font-size: 0;
	text-align: right;
}
.cart_list .option_area .btn_box a{
	display: inline-block;
	font-size: 11px;
	font-family: 'NanumSquareR';
	letter-spacing: -0.05em;
}
.cart_list .option_area .btn_box a + a{margin-left: 20px;}
.cart_list .option_area .btn_box .modify{
	padding-left: 20px;
	background: url(/images/pc/common/ico_cart_option.png) no-repeat 0 50%;
}
.cart_list .option_area .btn_box .remove{
	padding-left: 23px;
	background: url(/images/pc/common/ico_cart_remove.png) no-repeat 0 50%;
}
.cart_list .option_area .btn_box .wishlist{
	padding-left: 25px;
	background: url(/images/pc/common/ico_cart_wish.png) no-repeat 0 50%;
}
.cart_list .option_area .soldout_txt{
	float: left;
	padding: 15px 35px;
	font-family: 'NanumSquareR';
	font-size: 11px;
	background: rgb(230,225,231);
}
.cart_price{
	margin-right: -20px;
	padding: 50px 98px 60px;
	background: rgb(242,239,242);
}
.cart_price .price dl{overflow: hidden;}
.cart_price .price dl + dl{margin-top: 28px;}
.cart_price .price dt{
	float: left;
	font-size: 16px;
	font-family: 'NanumMyeongjo';
}
.cart_price .price dd{
	margin-left: 50%;
	font-size: 16px;
	text-align: right;
}
.cart_price .price .p_discount_btn {
	padding-right: 25px;
	color: rgb(230,33,23);
	background: url(/images/pc/sub/bg_select_down_19x19_r.png) no-repeat 100% 0;	
}
.cart_price .price .p_discount_con {
	display: none;
	float: none;
	clear: both;
	margin-top: 15px;
	margin-left: 0;
	padding: 15px 20px 15px 0;
	color: rgb(58,46,44);
	line-height: 21px;
	background: rgb(250,249,250);
	text-align: right;
}
.cart_price .price .p_discount_con strong {
	display: inline-block;
	font-size: 13px;
	font-family: 'NanumSquareR';
	font-weight: normal;
}
.cart_price .price .p_discount_con span {
	display: inline-block;
	min-width: 80px;
	font-size: 14px;
}
.cart_price .price .is_open .p_discount_btn {
	background: url(/images/pc/sub/bg_select_up_19x19_r.png) no-repeat 100% 0;	
}
.cart_price .price .is_open .p_discount_con {
	display: block;
}
.cart_price .price .total dd{
	font-size: 48px;
	font-family: 'GTSectraFineMedium', 'NanumMyeongjo';
	line-height: 1;
}
.cart_price .btn_box{margin-top: 35px;}
.cart_price .btn_box > a{float: left;}
.cart_price .btn_box a{
	display: inline-block;
	width: 176px;
	height: 60px;
	line-height: 60px;
	font-size: 13px;
	text-align: center;
}
.cart_price .btn_box .btn_r{float: right;}
.cart_price .btn_box .btn_r > a{
	font-weight: bold;
	margin-left: 20px;
}
.cart_tab{
	padding: 35px 98px 45px;
	background: rgb(229,224,230);
}
.cart_tab .tab_menu > a{
	padding-bottom: 15px;
	font-size: 24px;
	color: rgb(156,150,149);
}
.cart_tab .tab_menu.kor > a{
	font-size: 20px;
}
.lt-ie9 .cart_tab .tab_con + .tab_menu {
	background: rgb(229, 224, 230) !important;
}
.cart_tab .tab_con + .tab_menu a{
	padding-left: 10px;
}
.cart_tab .tab_con{
	padding-top: 83px;
}
.cart_tab .btn_box{
	margin-top: 40px;
	text-align: center;
}
.cart_tab .btn_box > a{
	display: inline-block;
	width: 176px;
	height: 48px;
	line-height: 48px;
}

#backTop{
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: 458px;
	width: 120px;
	height: 48px;
	text-align: center;
	background: rgb(255,255,255);
	cursor: pointer;
	z-index: 9997
}
#backTop a{padding-top: 15px;}
/* slick slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}