@charset "utf-8";
.srh_box{
	position: relative;
	margin: 10px -30px 0;
	padding: 35px 30px 0;
	transition: all 0.2s;
	z-index: 888
}
.srh_box.focus{
	padding: 35px 30px 40px;
}
.srh_box:before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	transition: all 0.2s;
	z-index: 3
}
.srh_box.focus:before{
	background: rgb(247,247,247);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
.srh_box .srh_inner{
	position: relative;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid rgb(204,204,204);	
	z-index: 6
}
.srh_box .btn_srh{
	float: left;
}
.srh_box .srh_ipt{
	display: block;
	width: 1115px;
	height: 60px;
	margin-left: 20px;
	padding: 0;
	border: 0;
	font-size: 36px;
	line-height: 60px;
	color: rgb(58,46,44);
	background: transparent;
	font-family: 'PatronRegular', 'NanumSquareR';
}
.srh_box .srh_ipt:focus{outline: none;}
.srh_box .srh_ipt.tt-hint{display: none !important;}
.srh_box .tt-menu {
	margin-top: 1px;
	left: -51px !important;
	right: -30px;
	clear: both;
	padding: 13px 30px 45px 71px;
	clear: both;
	z-index: 666;
	background: rgb(247,247,247);
}
.srh_box .tt-suggestion{
	margin-top: 12px;
	font-size: 18px;
	line-height: 20px;
}
.srh_box .tt-suggestion:hover {
	cursor: pointer;
	text-decoration: underline
}
.srh_box .tt-suggestion.tt-cursor {text-decoration: underline}
.srh_box .tt-suggestion p {margin: 0;}
.srh_box .tt-highlight{font-weight: normal;}

.no_search_box{margin-top: 40px;}
.no_search_box > p{font-size: 14px;}
.no_search_box > section{margin-top: 70px;}
.no_search_box > p + section{margin-top: 115px;}
.no_search_box .goods_box{margin-top: 35px;}
.srh_check{
	overflow: hidden;
	margin-top: 20px;
	margin-left: -30px;
}
.srh_check > div{
	float: left;
	margin-left: 30px;
}

.goods_sort{
	position: relative;
	margin-top: 40px;
}
.goods_sort .sort_l{
	float: left;
	max-width: 862px;
}
.filter_area{margin: -10px 0 0 -10px}
.filter_area .btn_filter{
	float: left;
	width: 120px;
	height: 48px;
	margin: 10px 0 0 10px;
	padding-left: 15px;
	font-size: 12px;
	font-family: 'PatronRegular', 'NanumSquareR';
	line-height: 48px;
	text-align: left;
	color: rgb(255,255,255);
	box-sizing: border-box;
	background: rgb(51,0,173) url(/images/pc/btn/btn_filter.png) no-repeat;
	background-position: 95px 50%;
	background-position: calc(100% - 15px) 50%;
}
.filter_area > a{
	float: left;
	height: 48px;
	margin: 10px 0 0 10px;
	padding: 0 40px 0 15px;
	border: 1px solid rgb(206,203,202);
	line-height: 48px;
	font-size: 12px;
	font-family: 'PatronRegular', 'NanumSquareR';
	box-sizing: border-box;
	background: url(/images/pc/btn/btn_filter_remove.png) no-repeat;
	background-position: 90% 50%;
	background-position: calc(100% - 15px) 50%;
}
.filter_area em {
	font-style: normal;	
}
.filter_area > em > a{
	float: left;
	height: 48px;
	margin: 10px 0 0 10px;
	padding: 0 40px 0 15px;
	border: 1px solid rgb(206,203,202);
	line-height: 48px;
	font-size: 12px;
	font-family: 'PatronRegular', 'NanumSquareR';
	box-sizing: border-box;
	background: url(/images/pc/btn/btn_filter_remove.png) no-repeat;
	background-position: 90% 50%;
	background-position: calc(100% - 15px) 50%;
}
body.filter_on{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body #wrap{
	transition: margin-top 0.3s cubic-bezier(0.34, 1.1, 1, 1);
}
.filter_on .bg_filter{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	background: rgb(255,255,255);
	z-index: 9998
}
.ie8 .filter_on .bg_filter{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";}
.filter_box{
	overflow: hidden;
	position: fixed;
	top: 165px;
	left: 0;
	width: 100%;
	height: 0;
	background: rgb(255,255,255);
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s 0.1s;
}
.filter_on .filter_box{
	overflow: visible;
	top: 165px;
	height: auto;
	border-top: 1px solid rgb(206,203,202);
	border-bottom: 1px solid rgb(206,203,202);
	opacity: 1;
}
.filter_box .filter_inner{
	width: 1156px;
	margin: 0 auto;
	padding-bottom: 35px;
}
.filter_list{
	overflow-y: auto;
	margin-top: 35px;
	margin-left: -20px;
	margin-right: -20px;
	max-height: calc(100vh - 380px);
}
.filter_list:after{
	display: block;
	content: '';
	clear: both;
}
.filter_list > li{
	float: left;
	width: 274px;
	margin-left: 20px;
}
.filter_list > li > h2{
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 1;
	font-weight: normal;
}
.filter_list .filter_color{
	width: 196px;
	margin: -15px 0 0 -20px;
}
.filter_list .filter_color li{
	float: left;
	width: 78px;
	height: 32px;
	margin: 15px 0 0 20px;
	font-family: 'PatronRegular', 'NanumSquareR';
	font-size: 12px;
	line-height: 32px;
	white-space: nowrap;
	cursor: pointer
}
.filter_list .filter_color span{
	position: relative;
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 9px;
}
.filter_list .filter_color span:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 32px;
	height: 32px;
	background: url(../../../images/pc/sub/bg_filter_color_layer.png) no-repeat 0 0;
}
.filter_list .filter_color li:hover span:after,
.filter_list .filter_color li.on span:after{
	background: url(../../../images/pc/sub/bg_filter_color_on.png) no-repeat 0 0;
}
.filter_list .filter_color span img{
	width: 24px;
	margin: 4px 0 0 4px;
	vertical-align: top;
}
/* .filter_list .filter_color span{
	float: left;
	width: 32px;
	height: 32px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 16px;
	margin-right: 9px;
	box-sizing: border-box;
}
.filter_list .filter_color li:hover span,
.filter_list .filter_color li.on span{
	border-color: rgb(205,202,202);
}
.filter_list .filter_color span img{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	vertical-align: top;
} */
.filter_list .filter_size{	
	width: 235px;
	margin: -15px 0 0 -15px;
}
.filter_list .filter_size > a{
	float: left;
	min-width: 32px;
	height: 32px;
	margin: 15px 0 0 15px;
	text-align: center;
	font-family: 'PatronRegular', 'NanumSquareR';
	font-size: 12px;
	line-height: 30px;
	border: 1px solid rgb(205,202,202);
	box-sizing: border-box
}
.filter_list .filter_size > a:hover,
.filter_list .filter_size > a.on{
	border: 2px solid rgb(58,46,44)
}
.filter_list .filter_size > a.select{
	border: 2px solid rgb(58,46,44)
}
.filter_list .filter_size > a.disabled{
	position: relative;
	overflow: hidden;
	color: rgb(204,204,204);
	border: 1px solid rgb(243,242,242);	
}
.filter_list .filter_size > a.disabled:after{
	position: absolute;
	content:'';
	top: 50%;
	left: -7px;
	width: 45px;
	height: 1px;
	margin-top: -1px;
	background: rgb(243,242,242);
	transform: rotate(-45deg)
}
.filter_list .filter_check > li + li{margin-top: 15px;}
.filter_box .btn_box{
	margin-top: 50px;
	text-align: center;
}
.filter_box .btn_box .btn{
	display: block;
	width: 177px;
	height: 48px;
	margin: 0 auto;
	line-height: 48px;
	font-size: 12px;
}
.filter_box .btn_box .txt_link{margin-top: 20px;}
.filter_box .btn_close{
	display: block;
	width: 120px;
	height: 48px;
	margin-top: -48px;
	padding-left: 15px;
	border: 1px solid rgb(206,203,202);
	border-bottom: 0;
	font-size: 12px;
	font-family: 'PatronRegular', 'NanumSquareR';
	line-height: 48px;
	text-align: left;
	box-sizing: border-box;
	background: rgb(255,255,255) url(/images/pc/btn/btn_filter_on.png) no-repeat;
	background-position: 95px 50%;
	background-position: calc(100% - 15px) 50%;
}
.goods_sort .sort_r{
	float: right;
	width: 274px;
	text-align: right;
}
.goods_sort .sort_r > em{
	display: inline-block;
	font-size: 14px;
	font-style: normal;
	line-height: 48px;
	vertical-align: top;
}
.goods_sort .sort_r .select_box{
	float: right;
	position: relative;	
	width: 125px;
	margin-left: 40px;
	text-align: left;
	z-index: 777
}
.goods_sort .sort_r .select_box a{
	display: inline-block;
	font-size: 12px;
	font-family: 'NanumSquareR';
	color: rgb(58,46,44);
}
.goods_sort .sort_r .select_box > a{
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid rgb(204,204,204);
	background: url(/images/pc/sub/bg_select_down.png) no-repeat 100% 50%
}
.goods_sort .sort_r .select_box ul{
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	padding: 10px 20px;
	width: 100%;
	border: 1px solid rgb(204,204,204);
	box-sizing: border-box;
	background: rgb(255,255,255);
}
.goods_sort .sort_r .select_box ul a{line-height: 28px;}
.goods_sort .sort_r .select_box li.on a,
.goods_sort .sort_r .select_box li:hover a{
	font-family: 'NanumSquareB';
	padding-right: 18px;
	background: url(/images/pc/sub/bg_select_on.png) no-repeat 100% 8px;
}
.goods_sort .sort_r .select_box.open_select_list ul{display: block;}
.goods_box .goods_list{
	/*overflow: hidden;*/
	margin-left: -20px;
}
.basic_grid{
	position: relative;
	margin: 0 auto;
}
.no_list{
	padding: 48px 0;
	border-top: 1px solid rgb(234,231,235);
	border-bottom: 1px solid rgb(234,231,235);
	font-size: 16px;
	font-family: 'NanumSquareB';
	text-align: center;
}
.goods_list:after{
	display: block;
	content: '';
	clear: both;
}
.goods_list > li{
	position: relative;
	float: left;
	width: 274px;
	padding: 40px 10px 56px;
	box-sizing: border-box;
	background: rgb(255,255,255);
	/*overflow: hidden;*/
}
.search_wrap .goods_list > li {
	height: 350px;
}
.list_6 > li{
	width: 176px;
	padding: 35px 10px 34px;
}
.list_6 > li > .tag,
.list_6 > li .name{display: none;}
.goods_box .goods_list > li{
	margin-left: 20px;
	margin-bottom: 20px;
}
.goods_list > li > .tag{
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index:444
}
.goods_list > li > .tag > img{
	float: left;
	width: 45px;
	margin-right: 5px;
}
.goods_list > li > .btn{
	/*opacity: 0;*/
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 333;
	/*transition: all 0.2s ease-in*/
}
.goods_list > li:hover > .btn{
	opacity: 1;
}
.lt-ie9 .goods_list > li > .btn{
	/*display: none;*/
}
.lt-ie9 .goods_list > li:hover > .btn{
	/*display: block;*/
}
.goods_list > li > .btn > span{
	float: left;
	margin-left: 10px;
}
.goods_list > li > .btn span{
	display: block;
	padding: 15px 0 0 14px;
	width: 45px;
	height: 45px;
	/*border-radius: 50%;
	background: rgb(255,255,255);*/
	box-sizing: border-box;
}
.goods_list > li > .btn .cart{
	display: block;
	width: 13px;
	height: 18px;
	text-indent: -9999px;
	background: url(/images/pc/common/ico_u_cart.png) no-repeat 0 50%;
}
.goods_list > li  .photo{overflow: hidden;}
.goods_list > li  .photo img{
	width: 100%;
	transition: transform 0.3s ease-in
}
.goods_list > li:hover .photo img{
	transform: scale(1.03)
}
.goods_list .txt_box{
	position: absolute;
	bottom: 15px;
	left: 20px;
	font-size: 14px;
	line-height: 20px;	
}
.goods_list .name:after{
	display: inline-block;
	content:'';
	width: 30px;
	height: 1px;
	margin-left: 5px;
	vertical-align: middle;
	background: rgb(58,46,44);
}
.goods_list .txt_box .sale_price i{
	display: inline-block;
	position: relative;
	font-style: normal;
}
.goods_list .txt_box .sale_price i:after{
	content:'';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgb(58,46,44);
	-webkit-transform: skewY(7deg);
	-ms-transform: skewY(7deg);
	transform: skewY(7deg);
}
.goods_list .txt_box .sale_price em{
	display: inline-block;
	margin-left: 8px;
	font-style: normal;
	color: rgb(230,33,23)
}
/* 모델이미지, 리스트타이틀, 인스타 등 */
.goods_list > li.model{padding: 0;}
.goods_list > li.txt_banner{padding: 0;}
/* 제품 이미지 큰경우 */
.goods_list > li.item_l{padding: 86px 10px 86px}
/* 인스타인 경우 */
.goods_list > [class*="insta_type"] .photo{position: relative;}
.goods_list > [class*="insta_type"] .insta{
	position: absolute;
	left: 20px;
	bottom: 17px;
	padding-left: 22px;
	font-size: 14px;
	line-height: 15px;
	background: url(/images/pc/sub/ico_instagram_wh.png) no-repeat 0 50%;
	color: rgb(255,255,255);
}
.goods_list > li.insta_type1{padding: 152px 0 0;}
.goods_list > li.insta_type1 .btn{right: 0; top: 123px;}
.goods_list > li.insta_type2{padding: 96px 0 0;}
.goods_list > li.list_title{
	overflow: visible;
	padding: 0;
	display: flex !important;
	align-items: flex-end;
	z-index: 555;
	background:transparent !important;
}
.goods_list .list_title .goods_sort{
	margin-top: 45px;
}
.goods_list .title_inner{width: 100%;}
.lt-ie10 .goods_list .list_title{
	position: relative;
	height: 350px;
}
.lt-ie10 .goods_list .list_title > div{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.list_title .breadcrumb{
	overflow: hidden;
	font-size: 25px;
}
.list_title .breadcrumb > li{
	float: left;
}
.list_title .breadcrumb > li > span{
	float: left;
	width: 25px;
	text-align: center;
}
.list_title .breadcrumb > li a{
	float: left;
	border-bottom: 1px solid transparent
}
.list_title .breadcrumb > li a:hover{
	color: rgb(51,0,173);
	border-color: rgb(51,0,173);
}
.list_title .breadcrumb > li a:active{
	transform: translateY(0.1em)
}
.list_title .title_inner > h2 > span{
	white-space: nowrap
}
.list_title .title_inner > p{
	margin-top: 10px;
	font-size: 18px;
}

.insta_list:after{
	display: block;
	content:'';
	clear: both;
}
.insta_list > li{
	float: left;
	width: 274px;
}
.insta_list .photo img{width: 100%;}
.insta_list .txt{
	margin-top: 10px;
	padding-left: 20px;
	font-size: 14px;
	background: url(/images/pc/sub/ico_instagram.png) no-repeat 0 50%
}

/*blog_list*/
.blog_list{
	overflow: hidden;
	margin-left: -14px;
}
.blog_list > li{
	float: left;
	width:205px; 
	margin-left: 14px ;
	margin-bottom: 25px;
}
.blog_list li .photo img{width:100%;}
.blog_list li .txt_box {
    overflow: hidden;
    width: 205px;
    height: 45px;
    padding: 15px 0 15px;
    text-align: left;
}
.blog_list li .txt_box .tit {
    display: inline-block;
    padding-bottom: 2px;
	margin-bottom: 1px;
	font-family: 'NanumSquareR';
    font-size: 14px;
    color: rgb(118,118,118);
    line-height: 24px;
}

.blog_list li .txt_box .txt {
    display: inline-block;
	overflow: hidden;
    padding-bottom: 2px;
	font-family: 'NanumSquareB';
    font-size: 14px;
	height:24px;
    line-height: 24px;
}
.blog_list > li:hover .txt_box .tit,
.blog_list > li:hover .txt_box .txt{
	border-bottom: 1px solid rgb(213,213,213);
	padding-bottom: 1px;
}

.blog_sort:after{
	display: block;
	content: '';
	clear: both;
}
.blog_sort .select_box{
	float: right;
	position: relative;	
	width: 125px;

	margin:-20px 0 20px 40px;
	text-align: left;
	z-index: 777
}
.blog_sort p{
	display: inline-block;
	float:left;
}
.blog_sort .select_box a{
	display: inline-block;
	font-size: 12px;
	font-family: 'NanumSquareR';
	color: rgb(58,46,44);
}
.blog_sort .select_box > a{
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid rgb(204,204,204);
	background: url(/images/pc/sub/bg_select_down.png) no-repeat 100% 50%
}
.blog_sort .select_box ul{
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	padding: 10px 20px;
	width: 100%;
	border: 1px solid rgb(204,204,204);
	box-sizing: border-box;
	background: rgb(255,255,255);
}
.blog_sort .select_box ul a{line-height: 28px;}
.blog_sort .select_box li.on a,
.blog_sort .select_box li:hover a{
	font-family: 'NanumSquareB';
	padding-right: 18px;
	background: url(/images/pc/sub/bg_select_on.png) no-repeat 100% 8px;
}
.blog_sort .select_box.open_select_list ul{display: block;}


.txt_banner.pd { padding:60px 40px !important; }
.txt_banner .txt_line { width:30px; height:1px; margin-top:30px}
.NanumMyeongjoBold {font-family:'NanumMyeongjoBold';}
.NanumSquareR {font-family:'NanumSquareR';}
.GTSectraFineBook {font-family:'GTSectraFineBook';}
.PatronRegular {font-family:'PatronRegular';}
.kr_s { font-size:22px; line-height:34px; }
.eng_s { font-size:24px; line-height:34px; }
.kr_m { font-size:26px; line-height:40px; }
.eng_m { font-size:28px; line-height:40px; }
.kr_b { font-size:34px; line-height:44px; }
.eng_b { font-size:36px; line-height:40px; }
