
$base-font-eng: 'Teko';
$base-font-kor: 'Noto Sans KR';

$base-font-size: 16px !default;

$color-primary: #7a437e;
$color-error: #e91b1b;
$color-success: #01be0b;

$text-default-color: #333333;
$text-gray-color: #666666;
$text-light-color: #999999;
$text-white-color: #ffffff;

$border-default-color: #999999;


