$base-font-eng: 'Teko';
$base-font-kor: 'Noto Sans KR';

$base-font-size: 10px !default;

$color-primary: rgb(51,152,152);
$color-error: rgb(251,13,0);
$color-success: rgb(26,152,86);

$text-color-default: rgb(51,51,51);
$text-color-gray: rgb(102,102,102);
$text-color-light: rgb(153,153,153);

$border-color-default: rgb(238,238,238);