/// 기본 영문 폰트 이름
/// @group global
/// @type {String} 
$base-font-eng: 'Teko';

/// 기본 한글 폰트 이름
/// @group global
/// @type {String} 
$base-font-kor: 'Noto Sans KR';

/// 기본 폰트 사이즈 (:root 폰트 사이즈)
/// @group global
/// @type {Number} 
$base-font-size: 10px !default;

/// 메인 컬러, 브랜드 컬러, 포인트컬러
/// @group global
/// @type {Color} 
$color-primary: rgb(250,50,90);

/// 경고 메시지 관련 컬러
/// @group global
/// @type {Color} 
$color-error: rgb(251,13,0);

/// 조건에 맞았을때, 성공했을 때 컬러
/// @group global
/// @type {Color} 
$color-success: rgb(26,152,86);

/// 기본 텍스트 컬러
/// @group global
/// @type {Color} 
$text-color-default: rgb(51,51,51);

/// 회색계열 가장 많이 쓰이는 텍스트 컬러
/// @group global
/// @type {Color} 
$text-color-gray: rgb(102,102,102);

/// 좀 더 밝은 그레이 텍스트 컬러
/// @group global
/// @type {Color} 
$text-color-light: rgb(153,153,153);

/// 기본 보더 컬러 (구분선)
/// @group global
/// @type {Color} 
$border-color-default: rgb(238,238,238);

/// 브레이크 포인트 - 모바일
/// @group global
/// @type {Number (with unit)} 
$breakpoint-mobile: 768px;


/// 프로젝트 ie8 지원 여부
/// @group global
/// @type {Boolean} 
$support-ie8: true;

$c-checkbox-animation-use: true;

$c-checkbox: (
  'checkbox': (
    'margin': 10px,
    'size': 24px,
    'border-width': 1px,
    'border-color': rgb(220,220,220),
    'background': transparent
  ),
  'mark': (
    'size': 8px,
    'border-width': 1px,
    'color': rgb(255,255,255)
  ),
  'checked': (
    'border-width': 0,
    'border-color': $color-primary,
    'background': $color-primary
  ),  
  'disabled': (
    'color': rgb(255,255,255),
    'border-color': rgb(238,238,238),
    'background': rgb(238,238,238)
  )
);