/// 백그라운드로 된 컨텐츠
@mixin bg-content($height, $no-txt: false) {
  display: block;
  height: $height;
  background-repeat: no-repeat;
  background-position: 50% 0;
  @if $no-txt == true {
    font-size: 0;
    text-indent: -9999px;
  }
}

/// floating 되어서 센터에 위치한 버튼 믹스인
@mixin floating-center-button($width, $height: $width) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: $height;
  margin: ($height/-2) 0 0 ($width/-2);
  text-indent: -9999px;
}

/// floating되어 센터에 위치한 요소 믹스인
@mixin floating-center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin floating-center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin floating-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/// rounded-button
@mixin rounded-button($height, $border: null) {
  height: $height;
  box-sizing: border-box;
  border-radius: $height / 2;
  @if $border == null {
    line-height: $height;
  } @else {
    line-height: $height - ($border * 2); 
  }
  text-align: center;
}


/// 미디어 쿼리
@mixin media-max($size) {
  $max: strip-unit($size) - 1 * set-unit(get-unit($size));

  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }  
}

@mixin media-min-max($min, $max) {
  $max: strip-unit($size) - 1 * set-unit(get-unit($size));

  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// breakpoint
$bp-mobile: 768px !default; 
@mixin bp-mobile($bp-mobile: $bp-mobile) {
  @include media-max($bp-mobile){
    @content;
  }
}

@mixin bp-tablet($bp-mobile: $bp-mobile) {
  @include media-min($bp-mobile){
    @content;
  }
}