#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9996;
    width: 100%;
    height: $header-h;
    @include gradient(90deg, $color-primary, rgb(240,81,81));
    .logo {
        position: absolute;
        top: 50%;
        left: 55px;
        transform: translateY(-50%);
        font-family: $base-font-eng;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: rgb(255,255,255)
    }
}

@import 'navigation'