.guide-section {
  padding: 2rem 3rem;
  &__title {
    font-size: 3.2rem;
  }
  &__table {    
    margin-top: 2rem;
    font-family: $base-font-kor;
    & td {
      padding: 2rem;
      font-size: 1.4rem;
      vertical-align: middle;
      border: 1px solid $border-color-default;
    }
  }
  pre {
    overflow-y: auto;
    margin-top: 2rem;
    padding: 2rem 3rem;
    font-family: $base-font-kor;
    font-size: 1.2rem;
    background: rgb(238,238,238);
    .pre-sass {
      color: rgb(51,153,13)
    }
    .pre-sass__mixin {
      color: rgb(180,56,56);
    }
    .pre-sass__var {
      color: rgb(180,23,180);
    }
  }
}

.guide__color {
  &--primary {
    color: $color-primary;
  }
  &--error {
    color: $color-error;
  }
  &--success {
    color: $color-success;
  }
}
.guide__text-color {
  &--default {
    color: $text-color-default; 
  }
  &--gray {
    color: $text-color-gray; 
  }
  &--light {
    color: $text-color-light; 
  }
}

.guide-burger {
  background: darken($color-primary, 20%);
  @include burger-menu(7rem, 7rem, 2rem, 0.5rem, 0.3rem, #ffffff, 0.3s, 0.3rem);

  &--cross:hover {
    @include burger-menu--cross(lighten($color-primary, 25%));
  }
  &--minus:hover {
    @include burger-menu--minus(lighten($color-primary, 25%));
  }
  &--arrow:hover {
    @include burger-menu--arrow(lighten($color-primary, 25%));
  }
}

.guide-list-menu {
  position: relative;
  width: 100px;
  & > a {
    font-size: 1.6rem;
    line-height: 4.8rem;
    padding-left: 1rem;
    color: rgb(255,255,255);
    background:$color-primary;
    @include menu-arrow(1rem, 1rem, 0.3rem, #ffffff);
  }
  &--upside > a:hover {
    @include menu-arrow--filp-upside(lighten($color-primary, 40%));
  }
  &--side > a:hover {
    @include menu-arrow--filp-side(lighten($color-primary, 40%));
  }
  &--cross > a:hover {
    @include menu-arrow--cross(lighten($color-primary, 40%));
  }
  & > ul {
    display: none;
    position: absolute;
    top: 4.8rem;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    line-height: 3.2rem;
    background: lighten($color-primary, 20%);
    color: rgb(255,255,255);
    box-sizing: border-box;
  }
  &:hover > ul {
    display: block;
  }
}

%guide-shape-cursor {
  cursor: pointer;
}
.guide-shape {
  &__list-arrow {
    &--up {
      @extend %guide-shape-cursor;
      @include list-arrow-up(2rem, 0.2rem, $color-primary);
    }
    &--down {
      @extend %guide-shape-cursor;
      @include list-arrow-down(2rem, 0.2rem, $color-primary);
    }
    &--filp {
      @extend %guide-shape-cursor;
      @include list-arrow-up(2rem, 0.2rem, $color-primary);
      &:hover {
        @include list-arrow-flip
      }
    }
  }
}


/* guide-tab--2 */
.guide-tab--2 {
  @include component-tab(4rem, 2) {
    margin-top: 30px;
    .tab-menu {
      background: lighten($color-primary, 30%);
      a {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        color: $color-primary;
      }
      &--open {
        background: $color-primary;
        a {
          color: rgb(255,255,255)
        }
      }
    }
    .tab-con {
      padding: 2rem 1.5rem;
      border: 1px solid $color-primary;
    }
  }
}
/* guide-tab--3 */
.guide-tab--3 {
  $mobile-breakpoint: 480px;
  @include component-tab(4rem, 3, true, $mobile-breakpoint){
    margin-top: 30px;
    .tab-menu {
      background: lighten($color-primary, 30%);
      a {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        color: $color-primary;
      }
      &--open {
        background: $color-primary;
        a {
          color: rgb(255,255,255)
        }
      }
    }
    .tab-con {
      padding: 2rem 1.5rem;
      border: 1px solid $color-primary;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      $color-primary-trans: rgb(110,152,15);
      .tab-menu {
        background: lighten($color-primary-trans, 30%);
        a {
          font-size: 1.2rem;
          color: $color-primary-trans;
        }
        &--open {
          background-color: $color-primary-trans;
          a {
            color: rgb(255,255,255)
          }
        }
      }
      .tab-con {
        border-color: $color-primary-trans;
      }
    }
  }
}

.guide-shape__checkmark {
  @include checkmark(3rem, 0.2rem, darken($color-primary, 20%))
}

.guide-checkbox {
  .guide-checkbox--label {
    .checkbox:nth-child(1) {
      margin-top: 2rem;
      @include checkbox(
        1rem, 
        2.4rem, 
        0.1rem, 
        rgb(153,153,153), 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        $color-primary,
        0.2rem,
        $color-primary
      );
    }
    .checkbox:nth-child(2),
    .checkbox:nth-child(3),
    .checkbox:nth-child(4) {
      margin-top: 2rem;
      @include checkbox(
        1rem, 
        2.4rem, 
        0.1rem, 
        $color-primary, 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        rgb(255,255,255),
        0,
        auto,
        $color-primary
      );
    }
  }
  .guide-checkbox--no-label {
    .checkbox:nth-child(1) {
      margin-top: 2rem;
      @include checkbox--no-label(
        2.4rem, 
        0.1rem, 
        rgb(153,153,153), 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        $color-primary,
        0.2rem,
        $color-primary
      );
    }
    .checkbox:nth-child(2) {
      margin-top: 2rem;
      @include checkbox--no-label(
        2.4rem, 
        0.1rem, 
        $color-primary, 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        rgb(255,255,255),
        0,
        auto,
        $color-primary
      );
    }
  }
  .guide-checkbox__circle--label {
    .checkbox:nth-child(1) {
      margin-top: 2rem;
      @include circle-checkbox(
        1rem, 
        2.4rem, 
        0.1rem, 
        rgb(153,153,153), 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        $color-primary,
        0.2rem,
        $color-primary
      );
    }
    .checkbox:nth-child(2),
    .checkbox:nth-child(3),
    .checkbox:nth-child(4) {
      margin-top: 2rem;
      @include circle-checkbox(
        1rem, 
        2.4rem, 
        0.1rem, 
        none, 
        rgb(153,153,153), 
        0.9rem, 
        0.1rem, 
        rgb(255,255,255),
        0,
        auto,
        $color-primary
      );
    }
  }
  .guide-checkbox__circle--no-label {
    .checkbox:nth-child(1) {
      margin-top: 2rem;
      @include circle-checkbox--no-label(
        2.4rem, 
        0.1rem, 
        rgb(153,153,153), 
        rgb(255,255,255), 
        0.9rem, 
        0.1rem, 
        $color-primary,
        0.2rem,
        $color-primary
      );
    }
    .checkbox:nth-child(2) {
      margin-top: 2rem;
      @include circle-checkbox--no-label(
        2.4rem, 
        0.1rem, 
        none, 
        rgb(153,153,153), 
        0.9rem, 
        0.1rem, 
        rgb(255,255,255),
        0,
        auto,
        $color-primary
      );
    }
  }
  td .checkbox {
    margin-top: 0 !important;
  }
}