// font :
$base-font: 'AvenirLTStd-Black', 'NanumBarunGothicBold', Dotum, sans-serif;
$base-font-lgt: 'AvenirLTStd-Light', 'NanumBarunGothicLight', Dotum, sans-serif;

$base-font-kor: 'NanumBarunGothic', Dotum, sans-serif;
$base-font-kor-l: 'NanumBarunGothicLight', Dotum, sans-serif;
$base-font-kor-eb: 'NanumBarunGothicBold', Dotum, sans-serif;

$base-font-eng: 'AvenirLTStd-Black', Arial, sans-serif;
$base-font-eng-lgt: 'AvenirLTStd-Light', Arial, sans-serif;

$base-font-size: 10px !default;

// color :
$color-primary: rgb(44,55,93);

$text-color-default: $color-primary;
$text-color-light: rgb(153,153,153);

$border-color-default: rgb(238,238,238);

// layout
$header-h: 50px;
$content-w: 1180px;

// path :
$images-path: '../images';
$images-path-btn: $images-path + '/btn';
$images-path-common: $images-path + '/common';
$images-path-sub: $images-path + '/sub';