// ------------
// 브레이크포인트
// ------------

// 데스크탑 태블릿 분기 지점
$bp-wide: 1260px !default;

// 모바일 분기 지점
$bp-small: 768px !default;

/// breakpoint 믹스인 매개변수 : 미디어쿼리 only desktop
/// @type {List)}
/// @group breakpoint
$bp-desktop: screen $bp-wide;

/// breakpoint 믹스인 매개변수 : 미디어쿼리 only tablet
/// @type {List}
/// @group breakpoint
$bp-tablet: screen $bp-small ((parseInt($bp-wide) - 1) * 1px);

/// breakpoint 믹스인 매개변수 : 미디어쿼리 only mobile
/// @type {List}
/// @group breakpoint
$bp-mobile: screen max-width ((parseInt($bp-small) - 1) * 1px);

/// breakpoint 믹스인 매개변수 : 미디어쿼리 tablet 이하
/// @type {List}
/// @group breakpoint
$bp-tablet-mobile: screen max-width ((parseInt($bp-wide) - 1) * 1px);

/// 데스크탑만 해당하는 코드 작성
/// @group breakpoint
/// @example scss - scss
///   @include only-desktop {
///     .contents { 
///       width: 1260px;
///     }
///   }
/// @example css - css output
///   @media screen and (min-width: 1260px) {
///     .contents {
///       width: 1260px;
///     }
///   }
@mixin only-desktop {
  @include breakpoint($bp-desktop, '.lt-ie9') {
    @content;
  }
}

/// 태블릿만 해당하는 코드 작성
/// @group breakpoint
/// @example scss - scss
///   @include only-tablet {
///     .contents { 
///       width: auto;
///     }
///   }
/// @example css - css output
///   @media screen and (min-width: 768px) and (max-width: 1259px) {
///     .contents {
///       width: auto;
///     }
///   }
@mixin only-tablet {
  @include breakpoint($bp-tablet) {
    @content;
  }
}

/// 모바일만 해당하는 코드 작성
/// @group breakpoint
/// @example scss - scss
///   @include only-mobile {
///     .contents { 
///       width: auto;
///     }
///   }
/// @example css - css output
///   @media screen and (max-width: 767px) {
///     .contents {
///       width: auto;
///     }
///   }
@mixin only-mobile {
  @include breakpoint($bp-mobile) {
    @content;
  }
}

/// 태블릿과 모바일 공통 코드 작성
/// @group breakpoint
/// @example scss - scss
///   @include only-no-desktop {
///     .contents { 
///       width: auto;
///     }
///   }
/// @example css - css output
///   @media screen and (max-width: 1259px) {
///     .contents {
///       width: auto;
///     }
///   }
@mixin only-no-desktop {
  @include breakpoint($bp-tablet-mobile) {
    @content;
  }
}