/// clearfix 믹스인
/// @group layout
/// @example scss - scss
///   .clearfix {
///     @include clearfix;
///   }
/// @example css - css output
///   .clearfix:after {
///     clear: both;
///     display: block;
///     content: '';
///   }
@mixin clearfix {
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}



