// * --------------------------------
// * position 믹스인
// * --------------------------------

// @include position($position, $top, $right, $bottom, $left)
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}