/// 썸네일 리스트 스니펫 믹스인
/// susy에 의존함
/// @author chiabi88
/// @param {Number (unitless)} $thumb-grid-list [1] - 리스트 한줄에 들어갈 아이템 개수
/// @param {auto | Number (with unit)} $thumb-grid-container [auto]- susy layout container 값
/// @param {Number (unitless)} $thumb-grid-columns [12] - susy layout columns 값
/// @param {Number (unitless)} $thumb-grid-gutters [0.25] - susy layout gutter 값
/// @param {Number (with unit)} $thumb-grid-bottom-gutters [0] - 리스트 아이템 margin-bottom 값
/// @param {String} $thumb-grid-effect-target [null] - 썸네일 오버 이펙트 필요할 경우 대상이 되는 img의 부모요소 선택자
/// @param {String} $thumb-grid-effect-name ['zoom-in'] - 썸네일 오버 이펙트 이름 ['zoom-in' | 'blur']
/// @param {Bool} $thumb-grid-query-fallback [false] - 미디어 쿼리 미지원 폴백 구문 노출여부, 'only-desktop' 믹스인 안에서 사용시 true로 설정
/// @param {String} $thumb-grid-output ['float'] - susy layout output 값
/// @group thumbnail
/// @example scss - scss
///   .thumbnail-4-list {
///   	// 속기형
///   	// @include thumbnail-grid-list( 4, 1200px, 12, 0.25, 30px, true, 'thumbnail-4-list__photo', 'blur', float);
///   	@include thumbnail-grid-list(
///   	  $thumb-grid-list: 4,
///   	  $thumb-grid-container: 1200px, 
///   	  $thumb-grid-columns: 12, 
///   	  $thumb-grid-gutters: 0.25, 
///   	  $thumb-grid-bottom-gutters: 30px, 
///   	  $thumb-grid-effect-target: 'thumbnail-4-list__photo',
///   	  $thumb-grid-effect-name: 'blur',
///       $thumb-grid-output: 'float'
///   	);
///   }
/// @example css - css output
///   .thumbnail-4-list {
///     max-width: 1200px;
///     margin-left: auto;
///     margin-right: auto;
///   }
///   .thumbnail-4-list:after {
///     content: " ";
///     display: block;
///     clear: both;
///   }
///   .thumbnail-4-list > li {
///     width: 23.72881%;
///     float: left;
///     margin-left: 1.69492%;
///     margin-bottom: 30px;
///   }
///   .thumbnail-4-list > li thumbnail-4-list__photo > img {
///     transition: all 0.3s;
///   }
///   .thumbnail-4-list > li:hover thumbnail-4-list__photo > img, .thumbnail-4-list > li:active thumbnail-4-list__photo > img, .thumbnail-4-list > li:focus thumbnail-4-list__photo > img {
///     opacity: 0.8;
///   }
///   .thumbnail-4-list > li:nth-child(4n + 1) {
///     clear: left;
///     width: 23.72881%;
///     float: left;
///     margin-left: 0;
///   }
///   .thumbnail-4-list > li img {
///     width: 100%;
///   }
@mixin thumbnail-grid-list(
  $thumb-grid-list: 1,
  $thumb-grid-container: auto, 
  $thumb-grid-columns: 12, 
  $thumb-grid-gutters: 0.25, 
  $thumb-grid-bottom-gutters: 0, 
  $thumb-grid-effect-target: null,
  $thumb-grid-effect-name: 'zoom-in',
  $thumb-grid-query-fallback: false,
  $thumb-grid-output: 'float'
){
  // 2017-06-09 컬럼 당 리스트 개수로 susy span 값을 구하는 것으로 수정
  $thumb-grid-span: ($thumb-grid-columns / $thumb-grid-list);
  // @debug $thumb-grid-span;

  @include layout($thumb-grid-container $thumb-grid-columns $thumb-grid-gutters before fluid $thumb-grid-output);
  @include container();
  
  margin-bottom: -#{$thumb-grid-bottom-gutters};

  & > li {
    @include span($thumb-grid-span);
    margin-bottom: $thumb-grid-bottom-gutters;

    // effect 쓸경우
    @if type-of($thumb-grid-effect-target) == string {
      @include thumbnail-effect($thumb-grid-effect-target, $thumb-grid-effect-name);
    } @else {
      #{$thumb-grid-effect-target} > img {
        transition: none;
      }
      @include hover {
        transform: none;
        opacity: 1;
      }
    }

    & img {
      width: 100%;
    }
  }
  
  // 미디어 쿼리 미지원하는 익스 하위에서 필요한 구문
  @if ($thumb-grid-query-fallback == true) {
    & {
      overflow: hidden;

      .lt-ie9 & > li.first {
        clear: left;
        margin-left: 0;
      }
      @include only-desktop {
        &> li:nth-child(#{$thumb-grid-list}n + 1) {
          clear: left;
          margin-left: 0;
        }
      }
    }
  } @else {
    & > li:nth-child(#{$thumb-grid-list}n + 1) {
      clear: left;
      margin-left: 0;
    }  
  } 
}