/// 썸네일 이펙트 스니펫 믹스인
/// @param {String} $thumbnail-effect-target [null] - 썸네일 오버 이펙트 필요할 경우 대상이 되는 img의 부모요소 선택자
/// @param {String} $thumbnail-effect-name ['zoom-in'] - 썸네일 오버 이펙트 이름 ['zoom-in' | 'blur']
/// @group thumbnail
/// @example scss - scss
///	  .thumbnail-list {
///	  	@include thumbnail-effect('.thumbnail-item','blur');
///	  }
/// @example css - css output
///	  .thumbnail-list .thumbnail-item > img {
///	    transition: all 0.3s;
///	  }
///	  .thumbnail-list:hover .thumbnail-item > img, 
///	  .thumbnail-list:active .thumbnail-item > img, 
///	  .thumbnail-list:focus .thumbnail-item > img {
///	    opacity: 0.8;
///	  }
@mixin thumbnail-effect(
	$thumbnail-effect-target: null,
	$thumbnail-effect-name: 'zoom-in'
){
	// 타켓이 설정 되지 않을경우 warn 띄움
	@if type-of($thumbnail-effect-target) != 'string' {
    @warn '이펙트 대상은($thumbnail-effect-target) 필수 입력입니다'
  }
	#{$thumbnail-effect-target} > img {
		transition: all 0.3s;
	}
	@include hover {
		#{$thumbnail-effect-target} > img {
			@if $thumbnail-effect-name == 'zoom-in'{
        transform: scale(1.1);
      } @else if $thumbnail-effect-name == 'blur' {
      	 opacity: 0.8;
      }
		}
	}
}